{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<h4 class='text-center'>SELECCIONE UN EMPLEADO</h4>
{{ grid_search(grid) }}

    {{ grid(grid,_self) }}

    {% block grid_filters %}{% endblock %}
{#% block body -%}
    <h1>Docpersonal list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombredocpersonal</th>
                <th>Entregado</th>
                <th>Indice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('docpersonal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombredocpersonal }}</td>
                <td>{{ entity.entregado }}</td>
                <td>{{ entity.indice }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('docpersonal_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('docpersonal_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docpersonal_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %#}
{% endblock %}
