{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<style type="text/css">
.table
{
margin-bottom: 0px;
}
.recompone
{
margin-bottom: 0px;
}
</style>
<script type="text/javascript">
    function confirmaborrar(id){
        var resp = confirm("¿Esta seguro que desea borrar este registro?");
        if(resp){
            document.forms['docpersonal_form_delete'+id].submit();
        }
    }
</script>
    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/Docpersonal:registro.html.twig')}}

    {% for flashMessage in app.session.flashbag.get('new') %}
        <div class="alert alert-success">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('errornew') %}
        <div class="alert alert-danger">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}

    <h4 class='text-center'>RECORD DEL EXPEDIENTE PERSONAL</h4>
    <p>Nombre: <b>{{expediente[0].nombres}}</b><p><br/>
    <form action="{{ path('docpersonal_create',{'exp':expediente[0].id, 'nogrid':nogrid, 'noasp':noasp}) }}" id= "docpersonal_form" method="post" {{ form_enctype(form) }}>
        {#{ form_widget(form) }#}
        <fieldset><legend>Agregar Documento Personal</legend>
              <table width='80%'>
                <tr>
                    <td class="text-center">{{ form_row(form.nombredocpersonal) }}</td>
                    <td class="text-center">{{ form_row(form.indice) }}</td>
                </tr>
            </table>            
          </fieldset>
        {{ form_rest(form) }}
        <div class='text-center'>
            <button type="submit" class="btn btn-primary">Agregar</button>
            {% if nogrid == 0 %}
                <a  href="{{ 
                    path('expediente_validar',{ 'exp': expediente[0].id } 
                        )
                    }}" class="btn">Regresar</a>
            {% else %}
                {% if noasp == 1 %}
                <a  href="{{ 
                    path('docpersonal_empleado'                        
                        )
                    }}" class="btn">Regresar</a>
                {% else %}
                <a  href="{{ 
                    path('docpersonal'                        
                        )
                    }}" class="btn">Regresar</a>
                {% endif %}
            {% endif %}
        <div>
    </form>
    <br/>
    <fieldset><legend>Documentos Registrados</legend>
    <div class='text-centered'>
    {% if documentos|length > 0 %}
        <table class='table table-bordered table-hover mitable' border='1' width='100%' align='center'>
            <tr>
                <th width='20px'></th>
                <th>Nombre del documento</th>
                <th width='110px'>N° Correlativo</th>                
                <th width='180px'>Acción</th>            
            </tr>
        </table>        
        {% for doc in documentos %}
        <form action="{{ path('docpersonal_update',{'id':doc.id,'idexp':expediente[0].id, 'nogrid': nogrid, 'noasp':noasp }) }}" id= "docpersonal_form_edit{{ doc.id }}" method="post" class="recompone">
        <table class='table table-bordered table-hover mitable' border='1' width='100%' align='center'>
            <tr>                          
                <td width='20px'>                
                    {% if doc.entregado == 1 %}
                    <img src="{{ asset('images/true.png') }}" title="Entregado" height="16px" width="16px">
                    {% else %}
                    <img src="{{ asset('images/false.png') }}" title="No entregado" height="16px" width="16px" >
                    {% endif %}                    
                </td>
                <td>
                    {{ doc.nombredocpersonal }}                    
                </td>
                <td width='110px'>
                    <input type="text" class="input-small" data-bvalidator="number" value="{{ doc.indice }}" name="indice" id="indice">
                </td>
                <td width='180px'>                                                        
                    <button type="submit" class="btn" >Actualizar</button>
                    <button type="button" class="btn btn-danger" onClick="confirmaborrar({{ doc.id }})">Borrar</button>
                </td>                        
            </tr>
        </table>
        </form>
        <form action="{{ path('docpersonal_delete',{'id':doc.id,'idexp':expediente[0].id, 'nogrid': nogrid, 'noasp':noasp }) }}" id= "docpersonal_form_delete{{ doc.id }}" method="post" class="recompone">
        </form>
        {% endfor %}        
    {% else %}
    No existen registros
    {% endif %}
    </div>
    </fieldset>
{% endblock %}
