{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>

    {{ include('CapacitacionBundle:Ayuda/Capacitacion:plan_capacitacion.html.twig')}} 

{% for flashMessage in app.session.flashbag.get('errorcreate') %}
  <br/>
  <div class="alert alert-danger">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}
    <br/>
    <h3 class="text-center">Registro de plan de capacitaciones</h3>
    <p class="text-center"> Información general del plan de capacitaciones</p>
    <br/><br/>

    <form action="{{ path('plancapacitacion_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        
        {{ form_row(form.nombreplan) }}
        {{ form_row(form.anoplan) }}
        {{ form_row(form.objetivoplan) }}
        {{ form_row(form.descripcionplan) }}
        {{ form_row(form.resultadosplan) }}
        {{ form_row(form.tipoplan) }}
        {{ form_row(form.idcentro) }}

        {{ form_rest(form) }}

        <div class="text-center">
           <button type="submit" class="btn btn-primary">Registrar</button>
           <a href="{{ path('pantalla_capacitaciones') }}"  class="btn" onclick="return confirm('Si cancela, perderá los datos del formulario actual ¿Está seguro de cancelar?')">Cancelar</a>
        </div>
        
    </form>

    <script>
    $(document).ready(function(){
       $('#sigesrhi_capacitacionbundle_plancapacitaciontype_idcentro_control_group').hide();

       $('#sigesrhi_capacitacionbundle_plancapacitaciontype_tipoplan').change(function(){
           var tipo_plan =  $('#sigesrhi_capacitacionbundle_plancapacitaciontype_tipoplan').val();

           if(tipo_plan == 'C'){
              $('#sigesrhi_capacitacionbundle_plancapacitaciontype_idcentro_control_group').show();
              $('#sigesrhi_capacitacionbundle_plancapacitaciontype_idcentro').prop('required',true);
           }
           else{
              $('#sigesrhi_capacitacionbundle_plancapacitaciontype_idcentro_control_group').hide();
              $('#sigesrhi_capacitacionbundle_plancapacitaciontype_idcentro').prop('selectedIndex',0);
              $('#sigesrhi_capacitacionbundle_plancapacitaciontype_idcentro').prop('required',false);
           }

       });
    });
    </script>
        
{% endblock %}
