{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Plancapacitacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombreplan</th>
                <td>{{ entity.nombreplan }}</td>
            </tr>
            <tr>
                <th>Anoplan</th>
                <td>{{ entity.anoplan }}</td>
            </tr>
            <tr>
                <th>Objetivoplan</th>
                <td>{{ entity.objetivoplan }}</td>
            </tr>
            <tr>
                <th>Descripcionplan</th>
                <td>{{ entity.descripcionplan }}</td>
            </tr>
            <tr>
                <th>Resultadosplan</th>
                <td>{{ entity.resultadosplan }}</td>
            </tr>
            <tr>
                <th>Tipoplan</th>
                <td>{{ entity.tipoplan }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('plancapacitacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('plancapacitacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('plancapacitacion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
