{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}


    <h3 class="text-center">Datos del plan</h3>
    <table class="table table-bordered table-hover mitable">
        <tbody>
            <tr>
                <th>Nombre plan</th>
                <td>{{ entity.nombreplan }}</td>
            </tr>
            <tr>
                <th>A침o de ejecuci칩n</th>
                <td>{{ entity.anoplan }}</td>
            </tr>
            <tr>
                <th>Objetivo</th>
                <td>{{ entity.objetivoplan }}</td>
            </tr>
            <tr>
                <th>Descripci칩n</th>
                <td>
                    {% if entity.descripcionplan is null %} 
                    --- 
                    {% else %}
                    {{ entity.descripcionplan }} 
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Resultados esperados</th>
                <td>
                    {% if entity.resultadosplan is null %} 
                    --- 
                    {% else %}
                    {{ entity.resultadosplan }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

     <h4 class="text-center">Lista de capacitaciones</h4>

     {{ grid_search(grid) }}
     {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }} 
     {% block grid_filters %}{% endblock %}
     <br />
     <div class="text-center">
    {% if entity.idcapacitacion|length > 0 %}
     <a href="{{path('reporte_plan_capacitacion',{'anio':entity.anoplan,'id':entity.id})}}" class="btn btn-primary"> Generar PDF </a>
     {% endif %}
     <a href="{{path('capacitacion_new',{'idplan':entity.id})}}" class="btn"> Registrar capacitaci칩n </a>
     <a href="{{path('plancapacitacion')}}" class="btn"> Cancelar </a>
     </div>


{# -------------------- #}
<style type="text/css">
#grid_grid_capacitacion__fechacapacitacion__query__from{
    width: 100px; 
}

#grid_grid_capacitacion__fechacapacitacion__query__to{
    width: 100px; 
}

.grid-filter-input .grid-filter-operator select{
    width: 185px;
    margin-left: 10px;

}
</style>
<script>

$(document).ready(function(){

         $("#grid_grid_capacitacion__fechacapacitacion__query__from").datepicker({ 
              dateFormat: 'dd-mm-yy',  
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+0",
              onClose: function( selectedDate ) {
              $( "#grid_grid_capacitacion__fechacapacitacion__query__to" ).datepicker( "option", "minDate", selectedDate);}
         });

         $( "#grid_grid_capacitacion__fechacapacitacion__query__to" ).datepicker({
             dateFormat: 'dd-mm-yy',
             changeMonth: true,
             changeYear: true,
             onClose: function( selectedDate ) {
            $( "#grid_grid_capacitacion__fechacapacitacion__query__from" ).datepicker( "option", "maxDate", selectedDate );}
         });

         $('#grid_grid_capacitacion__fechacapacitacion__query__from').attr('readonly',true);
         $('#grid_grid_capacitacion__fechacapacitacion__query__to').attr('readonly',true);
        
    });
</script>
{% endblock %}
