{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('aviso') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

<h3 class="text-center">Datos del empleado</h3>
    <table class="table table-bordered">
            <tr>
                <th width="25%">Nombre empleado</th>
                <td>{{ entity.idempleado.idexpediente.idsolicitudempleo.nombrecompleto }}</td>
            </tr>
            <tr>
                <th>Plaza actual</th>
                    {% if (plazas|length) > 0 %}
                    <td>{{ plazas[0].nombreplaza }}</td>
                    {% for i in 1..(plazas|length - 1) if (plazas|length) > 1 %}
                    <tr><td></td><td>{{ plazas[i].nombreplaza }}</td></tr>
                    {% endfor %}
                    {% else %}
                    <td>El empleado no posee plazas asignadas</td>
                    {% endif %}
            </tr>
            
    </table>


    {% if entity.docconcurso is not null %}

       <p class="text-center"> Documentación</p>
       {% if extension|lower != "pdf" %}
         <div class="text-center">
          No se puede previsualizar el archivo: <a href="{{ asset('uploads/docs_concurso/'~ entity.docconcurso) }}"> Descargar </a><br/><br/>
         </div>
       {% else %}
          <embed src="{{ asset('uploads/docs_concurso/'~ entity.docconcurso) }}" class="pdf"></embed>
       {% endif %}

    {% endif %}

    <div class="text-center">
           <a href="{{ path('detalle_concurso',{'id':entity.idconcurso.id}) }}" class="btn">Regresar</a>
    </div>



{% endblock %}
