{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<style type="text/css">
    textarea { width: 100%; margin: 0; padding: 0; border-width: 0; }
    select { width: 100%; margin: 0; padding: 0; border-width: 0; }
    span.help-inline{ color: rgb(185, 74, 72);}
</style>

    {% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('errornew') %}
        <div class="alert alert-danger">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    {% endif %}
    <h3 class="text-center">Cargar Noticia ISRI</h3>
    <p class="text-center">Ingrese la Información a publicar</p>
    <br>
    <form action="{{ path('noticia_create') }}" method="post" {{ form_enctype(form) }}>
        {#{ form_widget(form) }#}
        <div class='centered'>
        <table width="100%" class="form-inline table table-bordered mitable">
            <tr>
                <th width="25%"><bold>{{form_label(form.asuntonoticia)}}</bold></th>
                <td colspan="2">{{form_widget(form.asuntonoticia)}} {{form_errors(form.asuntonoticia)}}</td>
            </tr>
            <tr>
                <th><bold>{{form_label(form.contenidonoticia)}}</bold></th>
                <td colspan="2">{{form_widget(form.contenidonoticia)}} {{form_errors(form.contenidonoticia)}}</td>
            </tr>            
            <tr>
                <th>Fecha de Publicación:</th><td>Inicio</td><td>Fin</td>  
            </tr>
            <tr>
                <th></th><td>{{form_widget(form.fechainicionoticia)}} {{form_errors(form.fechainicionoticia)}}</td><td>{{form_widget(form.fechafinnoticia)}} {{form_errors(form.fechafinnoticia)}}</td>
            </tr>
        </table> 
        {# form embebido #}       
        <table class="form-inline table table-bordered mitable">                
            <tr>
                <th width="25%">A quien publicar</th>
                <td colspan="2">{{form_widget(form.idcentro)}} {{form_errors(form.idcentro)}}
                    <br>
                    <button class="btn" type="button" id="todos">Seleccionar todos</button>
                </td>
            </tr>
        </table>
        {#fomr embebido#}
       <fieldset><legend>Adjuntar Imagen o Archivo:</legend>
        <p class="text-center text-success">(Los formatos permitidos son: pdf, word, png, jpg)</p><br/>
        <br>
        <ul class="Docnoticia unstyled" data-prototype="
        <table width='100%'>
            <tr>
                <td width='60%'>{{form_widget(form.iddocnoticia.vars.prototype.file)|e}} {{form_errors(form.iddocnoticia.vars.prototype.file)|e}}</td>
                <td>{{form_widget(form.iddocnoticia.vars.prototype.nombredocnoticia)|e}} {{form_errors(form.iddocnoticia.vars.prototype.nombredocnoticia)|e}}</td>
            <tr>
        <table>
        ">

        {# 
            Bloque de codigo, para cargar el formulario embebido para cuando hay un error en el registro del formulario (new) se carguen
            En la vista con el estilo predefinido.
        #}

        {% if form.iddocnoticia|length > 0 %}
            {% for docnoticia in form.iddocnoticia %}
            {# Comprobacion para evitar que se imprima el iddocnoticia # 1 (ya impreso) #}
            
            <li>
                <table width='100%'>
                    <tr>
                        <td width="60%">
                        {{form_widget(docnoticia.file)}} {{form_errors(docnoticia.file)}}</td>
                        <td>{{form_widget(docnoticia.nombredocnoticia)}} {{form_errors(docnoticia.nombredocnoticia)}}</td>
                    </tr>
                </table>
            </li>
            {% endfor %}
        {% endif %}

        </ul>

        </fieldset>
        </div>
        {{ form_rest(form) }}
        <div class="text-center">        
            <button type="submit" class="btn btn-primary">Cargar</button>
        <a class="btn" href="{{ path('noticia') }}">
         Cancelar
        </a>
        </div>
    </form>        
<script type="text/javascript">
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderNoti = $('ul.Docnoticia');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkBen = $('<input style="margin-left: 0px;" type="button" class="btn" value="Agregar Archivo"><br /><br />');
var $newLinkLiBen = $('<ul></ul>').append($addTagLinkBen);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderNoti.append($newLinkLiBen);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderNoti.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderNoti.data('index', collectionHolderNoti.find(':input').length);

    $addTagLinkBen.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderNoti, $newLinkLiBen);
    });
});
$("#todos").click(function(){
    $("#sigesrhi_adminbundle_noticiatype_idcentro option").prop('selected', true);
});
</script>
{% endblock %}
