{% extends '::PrincipalBaseEmpleado.html.twig' %}

{% block principal -%}
<style type="text/css">
    ul.a {list-style-type:circle; padding-left: 20px;}
    li.b {list-style-type:none; padding-left: 10px;}
</style>
    <h3 class="text-center">Noticias</h3>
    <fieldset><legend>Fecha  de Registro: {{ entity.fechanoticia|date('Y-m-d H:i:s')|fecha }}</legend>
    <div class="text-centered">
    <table border='0' width='100%' align='center'>
        <br>
        <tr>
            <td><h3 class="text-center"> {{ entity.asuntonoticia }} </h3></td>
        </tr>
        <tr>          
            <td align="center">{{ entity.contenidonoticia }}</td>
        </tr>
        {% set longitud =  (entity.iddocnoticia|length)-1 %} {#Obtengo numero de documentos#}
        {% if longitud >= 0 %}                
        {% for i in 0..longitud if longitud >= 0 %}
        {% set ext = entity.iddocnoticia[i].rutadocnoticia|split('.',2) %}
            {% if ext[1] == 'jpeg' or ext[1] == 'jpg' or ext[1] == 'png' %}
            <tr>
                <td align="center">                    
                    <img width="400px" height="450px" src="{{asset('uploads/docs_docsnoticia/' ~ entity.iddocnoticia[i].rutadocnoticia)}}"  title="{{ entity.iddocnoticia[i].nombredocnoticia }}" />
                    <li class="b"><a href="#myModal{{ i }}" data-toggle="modal">Ver</a></li>
                    <!-- Modal -->
                    <div id="myModal{{ i }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:800px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <img src="{{asset('uploads/docs_docsnoticia/' ~ entity.iddocnoticia[i].rutadocnoticia)}}">
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>
                </td>                                                
            </tr> 
            {% endif %}
        {% endfor %}
        {% endif %}
    </table>
    </div>
    </fieldset>
    <fieldset><legend>Descargas:</legend>
    <table>                
        {% set longitud =  (entity.iddocnoticia|length)-1 %} {#Obtengo numero de documentos#}
        {% set siencontro = 0 %}
        {% if longitud >= 0 %}                
        <tr>
        <td colspan ="2"><ul class="a">
        {% for i in 0..longitud if longitud >= 0 %}
            {% set ext = entity.iddocnoticia[i].rutadocnoticia|split('.',2) %}
            {% if ext[1] == 'pdf' or ext[1] == 'doc' or ext[1] == 'docx' %}            
                <li><a href="{{asset('uploads/docs_docsnoticia/' ~ entity.iddocnoticia[i].rutadocnoticia)}}" target="_blank">{{entity.iddocnoticia[i].nombredocnoticia }}</a></li>
                {% set siencontro = 1 %}
            {% endif %}
        {% endfor %}
        </ul></td>
        </tr>
        {% endif %}
        {% if siencontro == 0 %}
        <tr>
            <td colspan="2">
                No hay descargas disponibles
            </td>
        </tr>
        {% endif %}            
    </table>      
    </fieldset> 
    <br>
<div class="text-center">        
    {% if nogrid == 0 %}
        <button type="button" class="btn" onclick="window.history.back(1);">Regresar</button>
    {% else %}
        <a href="{{ path('noticia_indexempleado') }}" class="btn">
            Regresar
        </a>
    {% endif %}
</div>
{% endblock %}
