{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/AccionPersonal:ConsultaAcuerdos.html.twig')}}
    
<div class="text-center">
<h4>HOJA DE SERVICIO</h4>
<h5>CONSULTA/REGISTRO DE ACUERDOS LABORALES</h5>


<table border="0" width="90%" class="centered-table">
    <tr>
        <td width="25%" align="center"> 
                    <table border="3" align="center" width="150px" height="192px">
                        <tr>
                            <td>
                                <img src="{{asset('uploads/fotografias/' ~ entity.idsolicitudempleo.fotografia)}}" class="fotoSol" />
                            </td>
                        </tr>
                    </table>
                    <br>
            </td>
        </td>
        <td>
            <table class="table table-bordered table-hover mitable">
                <tr>
                    <th width="35%">Nombre: </th>
                    <td>{{entity.hojaservicio.nombreempleado}}</td>
                </tr>
                <tr>
                    <th>Código empleado: </th>
                    <td>{{entity.idempleado.codigoempleado}}</td>
                </tr>
                <tr>
                    <th>Numero de DUI: </th>
                    <td>{{entity.hojaservicio.dui|dui}}</td>
                </tr>
                <tr>
                    <th>Extendido en: </th>
                    <td>{{entity.hojaservicio.lugardui}}</td>
                </tr>
                <tr>
                    <th>Lugar y fecha de nac.: </th>
                    <td>{{entity.hojaservicio.lugarnac}} {{entity.hojaservicio.fechanac|date('d-m-Y')|fecha}}</td>
                </tr>
                <tr>
                    <th>Estado civil: </th>
                    <td>
                        {% if entity.hojaservicio.estadocivil == 'S' %} Soltero {% endif %}
                        {% if entity.hojaservicio.estadocivil == 'A' %} Acompañado {% endif %}
                        {% if entity.hojaservicio.estadocivil == 'C' %} Casado {% endif %}
                        {% if entity.hojaservicio.estadocivil == 'D' %} Divorciado {% endif %}
                        {% if entity.hojaservicio.estadocivil == 'V' %} Viudo {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Estado del empleado: </th>
                    <td>
                        {% if entity.tipoexpediente == "T" %}
                        Interino
                        {% elseif entity.tipoexpediente == "E" %}
                        Permanente
                        {% elseif entity.tipoexpediente == "X" %}
                        Inactivo
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Dirección: </th>
                    <td>{{entity.hojaservicio.direccion}}</td>
                </tr>
                
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table table-bordered table-hover mitable">
                <tr>
                    <th>Teléfono: </th>
                    <td>  {{entity.hojaservicio.telefonofijo|telefono}} </td>
                </tr>
                <tr>
                    <th width="25%">Educación: </th>
                    <td>{{entity.hojaservicio.educacion}}</td>
                </tr>
                <tr>
                    <th>Fecha de Ingreso: </th>
                    <td>{{entity.hojaservicio.fechaingreso|date('d-m-Y')|fecha}}</td>
                </tr>
                <tr>
                    <th>Cargo Inicial: </th>
                    <td>{{entity.hojaservicio.cargo}}</td>
                </tr>
                <tr>
                    <th>Sueldo Inicial: </th>
                    <td>{{entity.hojaservicio.sueldoinicial}}</td>
                </tr>
                <tr>
                    <th>Numero del ISSS : </th>
                    <td>{{entity.hojaservicio.isss}}</td>
                </tr>
                <tr>
                    <th>Numero de NIT : </th>
                    <td>{{entity.hojaservicio.nit|nit}}</td>
                </tr>
                <tr>
                    <th>Destacado en: </th>
                    <td>{{entity.hojaservicio.destacadoen}}</td>
                </tr>
                <tr>
                    <th>Información Adicional: </th>
                    <td><div class="justifyText">{{entity.hojaservicio.informacionadicional}}</div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<h4>REGISTRO LABORAL </h4>
</div>

{{ grid_search(grid) }} 
<br>
<div align="right">
{% if numpuestos > 0 %}

    <b>Registrar Nuevo Acuerdo: </b>
<a class="btn" onclick="location.href='{{path('accionpersonal_new', {'idexp': entity.id, 'vista_retorno':vista_retorno} )}}'" title="Registrar Nuevo Acuerdo"><div class="con-plus-sign"> + </div></a>
{% else %}
<b>El Empleado no posee Nombramiento activo.</b>
{% endif %}
</div>
{{ grid(grid,_self) }}  
<br>
{% block grid_filters %}{% endblock %} 



<div class="text-center">
<br>

{% if entity.idaccion|length > 0 %}
<button class="btn" onclick="location.href='{{path('accionpersonal_eligereporte', {'id':entity.id})}}'">Generar Reporte </button>
{% endif %}

{% if vista_retorno == 1 %}
<button class="btn" onclick="location.href='{{path('accionpersonal_cempleados')}}'"> Cancelar </button>
{% elseif vista_retorno == 2 %}
<button class="btn" onclick="location.href='{{path('accionpersonal_rempleados')}}'"> Cancelar </button>
{% endif %}

</div>

<style type="text/css">
#grid_grid_acuerdos__fecharegistroaccion__query__from{
    width: 100px; 
}
</style>


<script>

$(document).ready(function(){

         $("#grid_grid_acuerdos__fecharegistroaccion__query__from").datepicker({ 
              dateFormat: 'yy-mm-dd',  
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+0",});

         $('#grid_grid_acuerdos__fecharegistroaccion__query__from').attr('readonly',true);
        
    });
</script>

{% endblock %}
