{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('msg-error') %}
    <div class="alert alert-danger">
        <p> {{ flashMessage }} </p>
    </div>
    {% endfor %}

    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/AccionPersonal:RegistroAcuerdos.html.twig')}}

    <h4 class="text-center">REGISTRO DE ACCIONES DE PERSONAL</h4>
    <br>

    <form action="{{ path('accionpersonal_create', {'idexp':idexp, 'vista_retorno':vista_retorno} ) }}" method="post" {{ form_enctype(form) }}>
        

        <table>
            <tr>
                <td width="175px">{{form_label(form.idtipoaccion)}}</td>
                <td>{{form_widget(form.idtipoaccion)}}{{form_errors(form.idtipoaccion)}}</td>
            </tr>
            <tr>
                <td>Seleccione el puesto:</td>
                <td>
                    <select id="puesto" name="puesto" required class="input-xmlarge">
                    <option value="">Seleccione</option>                   
                    {% for puesto in puestos %}
                    <option value="{{puesto.id}}">{{puesto.nombreplaza}}</option>
                    {% endfor %}
                    </select>

                    <select id="puesto2" name="puesto2" required class="input-xmlarge">
                    <option value="">Seleccione</option>
                    {% for puesto in puestos %}
                    <option value="{{puesto.id}}">{{puesto.nombreplaza}}</option>
                    {% endfor %}

                    {% if puestos|length > 1 %}
                    <option value="todos">** TODOS LOS PUESTOS **</option>
                    {% endif %}
                    </select>

                </td>
            </tr>
            <tr>
                <td>{{form_label(form.fecharegistroaccion)}}</td>
                <td>{{form_widget(form.fecharegistroaccion)}}{{form_errors(form.fecharegistroaccion)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.numacuerdo)}}</td>
                <td>{{form_widget(form.numacuerdo)}}{{form_errors(form.numacuerdo)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.motivoaccion)}}</td>
                <td>{{form_widget(form.motivoaccion)}}{{form_errors(form.motivoaccion)}}</td>
            </tr>
        </table>


        {{ form_rest(form) }}
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="button" onclick="location.href='{{path('accionpersonal_cacuerdos', {'id': idexp, 'vista_retorno':vista_retorno})}}'" class="btn">Cancelar </button>
        </div>
    </form>


    <script>
// Rellenar la descripcion del motivo del acuerdo al seleccionar el tipo de acuerdo

    $(document).ready(function(){

        $('#sigesrhi_expedientebundle_accionpersonaltype_idtipoaccion').change(function(){
           $.getJSON('consultarTipoAccionJSON?idtipoaccion='+$('#sigesrhi_expedientebundle_accionpersonaltype_idtipoaccion').val(),
             function(data){
                var i=0;
                $.each(data, function(key, val){
                    if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#sigesrhi_expedientebundle_accionpersonaltype_motivoaccion').val(registro['cell'][0]);
                        });

                    }

                });

             });


        });//#idtipoaccion

/////////////////////////////////////////////////////////
//Manejo de segunda lista para puestos, cuando sean acuerdos por licencia
    
    //$('#puesto').val("");
    $('#puesto2').hide();
    $('#puesto2').prop( "disabled", true );

    $('#sigesrhi_expedientebundle_accionpersonaltype_idtipoaccion').change(function(){
        var tipo_acuerdo =  $('#sigesrhi_expedientebundle_accionpersonaltype_idtipoaccion').val();

        //tipo 9 y 10 corresponde en la BD con licencia con goce y sin goce respectivamente.
        if(tipo_acuerdo=="10" || tipo_acuerdo == "11" || tipo_acuerdo == "12" || tipo_acuerdo == "13" || tipo_acuerdo == "14" || tipo_acuerdo == "5")
        {
            $('#puesto').val("");
            $('#puesto').hide();
            $('#puesto').prop( "disabled", true );

            $('#puesto2').val("");
            $('#puesto2').show();
            $('#puesto2').prop( "disabled", false );            
        }
        else
        {
            $('#puesto').show();
            $('#puesto').prop( "disabled", false );
            $('#puesto2').val("");
            $('#puesto2').hide();   
            $('#puesto2').prop( "disabled", true );
        }
    });//change function




    });//document

    </script>


    <style type="text/css">
    .help-inline{
        color: rgb(185, 74, 72);
        }
    </style>

{% endblock %}
