{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<script>
        jQuery(function() {

            jQuery("#grid_grid_consulta_empleados_acuerdo__empleados__query__from").autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "empleados"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });

            jQuery("#grid_grid_consulta_empleados_acuerdo__codigos__query__from").autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "codigos"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });

        });
</script>


{% for flashMessage in app.session.flashbag.get('delete') %}
     <div class="alert alert-danger">
       <p>{{ flashMessage }}</p>
     </div>
{% endfor %}

    <div class="text-center">
    <h3> Registro de acciones de personal</h3>
    </div>

{{ grid_search(grid) }} 
<br>
{{ grid(grid,_self) }}  
<br>
{% block grid_filters %}{% endblock %} 

<div class="text-center">
<a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
</div>
 {% endblock %}