{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    
    {% for flashMessage in app.session.flashbag.get('new') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
    {% endfor %}

    <h3 class="text-center">Acci&oacute;n de Personal</h3>

    <table class="table table-bordered table-hover mitable">
        <tbody>
            <tr>
                <th width="25%">Tipo de Acci&oacute;n: </th>
                <td>{{ entity.idtipoaccion.nombretipoaccion }}</td>
            </tr>
            <tr>
                <th>Fecha de registro: </th>
                <td>{{ entity.fecharegistroaccion|date('d-m-Y')|fecha }}</td>
            </tr>
            <tr>
                <th>Descripci&oacute;n: </th>
                <td>{{ entity.motivoaccion }}</td>
            </tr>
            <tr>
                <th># de acuerdo: </th>
                <td>{{ entity.numacuerdo }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <a  class="btn" href="{{ path('accionpersonal_cacuerdos', {'id':entity.idexpediente.id}) }}">
            Ir a Hoja de servicio
        </a>

    </div>

{#
        <ul class="record_actions">
    <li>
        <a href="{{ path('accionpersonal') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('accionpersonal_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('accionpersonal_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}
{% endblock %}
