{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Accionpersonal</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecharegistroacccion</th>
                <td>{{ entity.fecharegistroaccion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Motivoaccion</th>
                <td>{{ entity.motivoaccion }}</td>
            </tr>
            <tr>
                <th>Numacuerdo</th>
                <td>{{ entity.numacuerdo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('accionpersonal') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('accionpersonal_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('accionpersonal_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
