{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Capacitacionmodificada</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechamodificada</th>
                <td>{{ entity.fechamodificada|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horainiciomodificada</th>
                <td>{{ entity.horainiciomodificada|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horafinmodificada</th>
                <td>{{ entity.horafinmodificada|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lugarmodificado</th>
                <td>{{ entity.lugarmodificado }}</td>
            </tr>
            <tr>
                <th>Perfilmodificado</th>
                <td>{{ entity.perfilmodificado }}</td>
            </tr>
            <tr>
                <th>Cupomodificado</th>
                <td>{{ entity.cupomodificado }}</td>
            </tr>
            <tr>
                <th>Metodologiamodificada</th>
                <td>{{ entity.metodologiamodificada }}</td>
            </tr>
            <tr>
                <th>Resultadosmodificados</th>
                <td>{{ entity.resultadosmodificados }}</td>
            </tr>
            <tr>
                <th>Plazomodificado</th>
                <td>{{ entity.plazomodificado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Contactomodificado</th>
                <td>{{ entity.contactomodificado }}</td>
            </tr>
            <tr>
                <th>Materialmodificado</th>
                <td>{{ entity.materialmodificado }}</td>
            </tr>
            <tr>
                <th>Justificacionmodificacion</th>
                <td>{{ entity.justificacionmodificacion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('capacitacionmodificada') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('capacitacionmodificada_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('capacitacionmodificada_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
