{#{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contratacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Observaciones</th>
                <th>Sueldoinicial</th>
                <th>Horaslaborales</th>
                <th>Jornadalaboral</th>
                <th>Fechainiciocontratacion</th>
                <th>Doccontratacion</th>
                <th>Informacionadicional</th>
                <th>Tipocontratacion</th>
                <th>Fechafinnom</th>
                <th>Fechaautorizacion</th>
                <th>Numoficio</th>
                <th>Fechafincontrato</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contratacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.observaciones }}</td>
                <td>{{ entity.sueldoinicial }}</td>
                <td>{{ entity.horaslaborales }}</td>
                <td>{{ entity.jornadalaboral }}</td>
                <td>{% if entity.fechainiciocontratacion %}{{ entity.fechainiciocontratacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.doccontratacion }}</td>
                <td>{{ entity.informacionadicional }}</td>
                <td>{{ entity.tipocontratacion }}</td>
                <td>{% if entity.fechafinnom %}{{ entity.fechafinnom|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaautorizacion %}{{ entity.fechaautorizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.numoficio }}</td>
                <td>{% if entity.fechafincontrato %}{{ entity.fechafincontrato|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contratacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contratacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contratacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}#}

{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% if app.session.started %}
{% for flashMessage in app.session.flashbag.get('delete') %}
<div class="alert alert-danger">
<p>{{ flashMessage }}</p>
</div>
{% endfor %}
{% endif %}
     
     <p class="text-center">Seleccione un empleado de la lista</p>
     {{ grid_search(grid) }}
     {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }} 
     {% block grid_filters %}{% endblock %}

{% endblock %}

