
    {# - Nuevo menu secciones - #}

{% if opciones|length > 0 %}
<div class="text-center" ><b><ins>{{ opciones[0].modulo|capitalize }}</ins></b></div>
<div class="text-center"><b> Opci&oacute;n: </b>{{opciones[0].pagina_abuelo|capitalize}}</div>

{% set cont = 0 %}
{% set aux = 0 %}

<div  id="accordian">

      <ul>

{% for opcion in opciones %}

    {% if cont == 0 %}
        <li>
            {% if opcion.hijos_padre > 0 %}

            <h3>{{opcion.pagina_padre}}</h3>
                <ul>

            {% else %}
            <h3><a href="{{path(opcion.ruta_padre)}}"> {{opcion.pagina_padre}} </a></h3>
                </ul>

            {% endif %}
    {% endif %}

        {% if aux != opcion.pagina_padre %}

            </ul>
                </li>
                <li>
                    {% if opcion.hijos_padre > 0 %}
                    <h3>{{opcion.pagina_padre}}</h3>
                    <ul>
                        <li><a href="{{ path(opcion.ruta_hijo)}}">{{opcion.pagina_hijo}}</a></li>
                    {% else %}
                    <h3><a href="{{path(opcion.ruta_padre)}}"> {{opcion.pagina_padre}} </a></h3>
                    <ul>
                    {% endif %}


        {% else %}
            {% if opcion.hijos_padre > 0 %}
            <li><a href="{{ path(opcion.ruta_hijo)}}">{{opcion.pagina_hijo}}</a></li>
            {% endif %}
        {% endif %}


    {% set aux = opcion.pagina_padre %}
    {% set cont = 1 %}
{% endfor %}
</ul>
    </li>

    </ul> 
        </div>


{% endif %}
