{#  Secciones anterior( bueno)

<br>
{% if opciones|length > 0 %}
<div class="text-center" ><b><ins>{{ opciones[0].modulo|capitalize }}</ins></b></div>

<div class="text-center">
<table border="0" border="2">
	<tr>
		<td><b> Opci&oacute;n: </b></td>
		<td>&nbsp;{{opciones[0].opcionpadre|capitalize}}</td>
	</tr>
</table>
</div>

<br>
{% endif %}


{% for opcion in opciones %}

<li><a href="{{path(opcion.ruta)}}">{{ opcion.pagina|capitalize}} </a></li>

{% endfor %}

#}


{# Nuevo Menú #}

{#
	variables:
	pagina_abuelo, hijos_abuelo, pagina_padre, ruta_padre, hijos_padre, pagina_hijo, ruta_hijo, modulo

#}


    

{% if opciones|length > 0 %}
<div class="text-center" ><b><ins>{{ opciones[0].modulo|capitalize }}</ins></b></div>
<div class="text-center"><b> Opci&oacute;n: </b>{{opciones[0].pagina_abuelo|capitalize}}</div>

{% set cont = 0 %}
{% set aux = 0 %}

<div  id="accordian">

      <ul>

{% for opcion in opciones %}

    {% if cont == 0 %}
        <li>
            <h3>{{opcion.pagina_padre}}</h3>
                <ul>
    {% endif %}

        {% if aux != opcion.pagina_padre %}

            </ul>
                </li>
                <li>
                    {% if opcion.hijos_padre > 0 %}
                    <h3>{{opcion.pagina_padre}}</h3>
                    <ul>
                        <li><a href="{{ path(opcion.ruta_hijo)}}">{{opcion.pagina_hijo}}</a></li>
                    {% else %}
                    <h3><a href="{{path(opcion.ruta_padre)}}"> {{opcion.pagina_padre}} </a></h3>
                    {% endif %}


        {% else %}
            <li><a href="{{ path(opcion.ruta_hijo)}}">{{opcion.pagina_hijo}}</a></li>
        {% endif %}


    {% set aux = opcion.pagina_padre %}
    {% set cont = 1 %}
{% endfor %}
</ul>
    </li>

    </ul> 
        </div>


{#
        <li>
            <h3>Dashboard</h3>
            <ul>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Graphs</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>


{% for opcion in opciones %}
Abuelo: {{opcion.abuelo}} 
Abuelo: {{opcion.pagina_abuelo}}
Num. Hijos: {{opcion.hijos_abuelo}}
Padre: {{opcion.pagina_padre}} 
Num. Hijos: {{opcion.hijos_padre}}
Hijo: {{opcion.pagina_hijo}} 

* <br>
{% endfor %}
#}


{#

{% set aux = 0 %}
{% set cont = 0 %}

{% for opcion in opciones %}

{% if cont == 0 %}
<li><a href="#">{{ opcion.modulo }} </a>
        <ul> 
{% endif %}


{% if aux != opcion.modulo %}

    
        </ul>
            </li>


            <li><a href="#">{{ opcion.modulo }} </a>
                <ul> 

                    {% if opcion.hijos == 0 %}
                    <li><a href="{{ path(opcion.ruta) }}  "> {{ opcion.pagina }}</a></li>
                    {% else %}
                    <li><a href="{{path('cambia_opcion', {'acceso':opcion.acceso}) }}">{{opcion.pagina}}</a></li>
                    {% endif %}
   
                
{% else %}
    
                    {% if opcion.hijos == 0 %}
                    <li><a href="{{ path(opcion.ruta) }}  "> {{ opcion.pagina }}</a></li>
                    {% else %}
                    <li><a href="{{path('cambia_opcion', {'acceso':opcion.acceso}) }}">{{opcion.pagina}}</a></li>
                    {% endif %} 
{% endif %}                     
        
    {% set aux = opcion.modulo %}
    {% set cont = 1 %}
{% endfor %}
</ul>
    </li>

#}


{% endif %}
