{# 
        plantillla de generacion del menu principal, de acuerdo al rol 
#}


{% set aux = 0 %}
{% set cont = 0 %}

{% for opcion in opciones %}

{% if cont == 0 %}
<li><a href="#">{{ opcion.modulo }} </a>
        <ul> 
{% endif %}


{% if aux != opcion.modulo %}

    
        </ul>
            </li>


            <li><a href="#">{{ opcion.modulo }} </a>
                <ul> 

                    {% if opcion.hijos == 0 %}
                    <li><a href="{{ path(opcion.ruta) }}  "> {{ opcion.pagina }}</a></li>
                    {% else %}
                    <li><a href="{{path('cambia_opcion', {'acceso':opcion.acceso, 'ruta': opcion.ruta}) }}">{{opcion.pagina}}</a></li>
                    {% endif %}
   
                
{% else %}
    
                    {% if opcion.hijos == 0 %}
                    <li><a href="{{ path(opcion.ruta) }}  "> {{ opcion.pagina }}</a></li>
                    {% else %}
                    <li><a href="{{path('cambia_opcion', {'acceso':opcion.acceso, 'ruta': opcion.ruta}) }}">{{opcion.pagina}}</a></li>
                    {% endif %} 
{% endif %}                     
        
    {% set aux = opcion.modulo %}
    {% set cont = 1 %}
{% endfor %}
</ul>
    </li>

