
<br>
{% if opciones|length > 0 %}
<div class="text-center" ><b><ins>{{ opciones[0].modulo|title }}</ins></b></div>

<div class="text-center">
<table border="0">
	<tr>
		<td><b> Opcion: </b></td>
		<td>&nbsp;{{opciones[0].opcionpadre|title}}</td>
	</tr>
</table>
</div>

{% endif %}


{% for opcion in opciones %}

<li><a href="{{path(opcion.ruta)}}">{{ opcion.pagina|title}} </a></li>

{% endfor %}

{#

{{ opcion.acceso }}
{{ opcion.padre }}

#}