<!DOCTYPE html>

<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Administración de RRHH - ISRI" />
	<meta name="keywords" content="HTML5, CSS3, Javascript" />
	
	{% block hojas_estilo %} 
	<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/menuestilos.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('images/favicon.ico') }}" type="image/ico" rel="icon" />
	
	{#viene de base.html.twig#}
    {#Bootstrap#}
    <link href="{{ asset('bundles/expediente/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    {#Calendario#}
    <link href="{{ asset('bundles/expediente/css/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
    {#Validador#}
    <link href="{{ asset('bundles/bValidator-0.71.1/bvalidator.css') }}" rel="stylesheet" type="text/css" />
    {#Estilos propios#}
    <link href="{{ asset('css/grid.css') }}" rel="stylesheet" type="text/css" />

	{#   ------------    #}
	{% endblock %}
    
    {% block javascripts %}
    {#  viene de base.html.twig #}
    {#Bootstrap#}
    {% javascripts 
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js' output='js/compiled/main.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
     
    {#jQuery#}
    <script src="{{ asset('bundles/expediente/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/expediente/js/jquery-ui.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery_maskedinput.js')}}" type="text/javascript" ></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.maskMoney.js')}}" type="text/javascript"></script>
    {#Validador#}
    <script type="text/javascript" src="{{ asset('bundles/bValidator-0.71.1/jquery.bvalidator.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bValidator-0.71.1/bvalidator.lang.es.js')}}" ></script>
    {#Propios#}
    <script type="text/javascript" src="{{ asset('js/utilidades.js')}}" ></script> 
    {#  ---------  #}
    {% endblock %}
	
	<title> {% block titulo %} ..:: SIGESRHI ::.. {% endblock %} </title>

</head>

	

<body>
<div id="agrupar">
	<header id="cabecera">
		{% block encabezado%}
		<table class="tabla_cabecera">
			<tr>
				<td>
		            <img src="{{ asset('images/Logo_ISRI.png') }}" alt="ISRI" height="150px" width="150px" />
				</td>
				<td align="center">
					<p class="titulo1"> Instituto Salvadoreño de Rehabilitación Integral </p>
					<br />
					<p class="titulo1"> Sistema Informático de Gestión de Recurso Humano </p>
				</td>
				<td>
					<img src="{{ asset('images/Escudo_El_Salvador.png') }}" alt="El Salvador" height="150px" width="150px" /> 
				</td>
			</tr>
		</table>
		{% endblock %}
	</header>


	<nav id="menu">
		<ul class="mi-menu"> {% block menu_principal %}
			
			
			{% if app.user %}
			{{ render(controller('AdminBundle:Default:menu', { 'nombreUsuario': app.user.username })) }}

			{% else %}
			<li><a href="#">Inicio </a></li>
			<li><a href="#">Consultar Plaza </a></li>
			<li><a href="#">Llenar Solicitud </a></li>
			{% endif %} 
				
			{% endblock %}
		</ul>	
	</nav>

	<nav id="camino_miga">
      {{ wo_render_breadcrumbs() }}
	</nav>	
    {% block extendido %}
	<aside id="columna">
		{% block seccion %}
		{% if app.user %}
		
		<p>Usuario: {{ app.user.username }} <a href="{{path('sonata_user_admin_security_logout')}}">Salir</a></p>
			
		
		{% else %}
		{{ render(controller('FOSUserBundle:Security:login')) }}
		{% endif %} 
		{% endblock %}
	</aside>
	<section id="seccion"> 
		{% block principal %}
			
				
		{% endblock %}
	</section>
    {% endblock %}

	
	<footer id="pie">
		{% block pie_pagina %}
		<div class="text-center"> Instituto Salvadore&ntilde;o de Rehabilitaci&oacute;n Integral - ISRI<br/>
		    Colonia Costa Rica Avenida Irazu # 181, San Salvador, El Salvador, C.A.<br/> 
		    Tel. (503) 2521 - 8600 <br/>
			Derechos Reservados &copy; - ISRI - 2013 </div>
		{% endblock %}
	</footer>

</div>
</body>

</html>