{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>

    {{ include('ExpedienteBundle:Ayuda/SeguroColectivo:registro.html.twig')}} 
    
    {% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('error') %}
    <br /><br />
    <div class="alert alert-danger">
    <p>{{ flashMessage }}</p>
    </div>
    {% endfor %}
    {% endif %}
    
    <h3 class="text-center">Ingreso de seguro colectivo de vida</h3>
    
    {% for exp in expediente %}
    <form action="{{ path('segurovida_create', {'id':exp.idexp}) }}" method="post" {{ form_enctype(form) }}>
    
    {#Formulario principal#}
    <fieldset>
        <legend>Datos Generales</legend>
         <table class="mitable">
           <tr>
            <th>Nombre del asegurado:</th><td> {{ exp.nombre }} </td>
           </tr>
           <tr>
            <th>Número de DUI:</th><td> {{ exp.dui  }} </td>
           </tr>
           <tr>
            <th>Lugar de Nacimiento:</th><td> {{ exp.lugarnac }} </td>
           </tr>
           <tr>
            <th>Fecha de Nacimiento: </th><td>{{ exp.fechanac | date('d-m-Y') }} </td>
           </tr>
           <tr>
            <th>Direccion: </th><td> {{ exp.direccion }} </td>
           </tr>
           <tr>
            <th>Unidad primaria en que labora: </th><td> MINISTERIO DE SALUD </td>
           </tr>
           <tr>
            <th>Unidad secundaria: </th><td> INSTITUTO SALVADOREÑO DE REHABILITACION INTEGRAL </td>
           </tr>
         </table>
    </fieldset>
    {% endfor %}


    {#Formulario embebido#}
       <fieldset>
                <legend>Beneficiarios</legend>
                <table width=100%>
                 <tr>
                     <td class="text-center">{{ form_row(form.idbeneficiario[0].nombrebeneficiario) }}</td>
                     <td class="text-center">{{ form_row(form.idbeneficiario[0].parentescobeneficiario) }}</td>
                     <td class="text-center">{{ form_row(form.idbeneficiario[0].porcentaje) }}</td>   
                 </tr>
                </table>
         {#En caso de error construyo todos los beneficiarios asociados#}
         {% if app.session.started %}
                 {% set longitud =  (entity.idbeneficiario|length)-1  %} {#Obtengo numero de beneficiarios#}
                 {% for i in 1..longitud if longitud > 0 %}
                 
                 <table width=100% style="margin-bottom:10px;">
                 
                 <tr class="text-center">
                 <td class="text-center">{{ form_widget(form.idbeneficiario[i].nombrebeneficiario) }}
                 {{ form_errors(form.idbeneficiario[i].nombrebeneficiario) }}</td>
                 <td class="text-center">{{ form_widget(form.idbeneficiario[i].parentescobeneficiario) }}
                 {{ form_errors(form.idbeneficiario[i].parentescobeneficiario) }}</td>
                 <td class="text-center">{{ form_widget(form.idbeneficiario[i].porcentaje) }}
                 {{ form_errors(form.idbeneficiario[i].porcentaje) }}</td>
                 </tr>
                 
                 </table>
                 {% endfor %}
         {% endif %}
          
                <ul class="Beneficiario unstyled" data-prototype="
                <table width=100%>
                <tr>
                <td class='text-center'>{{ form_widget(form.idbeneficiario.vars.prototype.nombrebeneficiario)|e }}
                   {{form_errors(form.idbeneficiario.vars.prototype.nombrebeneficiario)|e }}</td>
                <td class='text-center'>{{ form_widget(form.idbeneficiario.vars.prototype.parentescobeneficiario)|e }}   {{form_errors(form.idbeneficiario.vars.prototype.parentescobeneficiario)|e }}</td>
                <td class='text-center'>{{ form_widget(form.idbeneficiario.vars.prototype.porcentaje)|e }}
                   {{form_errors(form.idbeneficiario.vars.prototype.porcentaje)|e }}</td>
                </tr>
                </table>
                ">
                </ul>
       </fieldset>    
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn" onclick="location.href='{{ path ('segurovida') }}'">Cancelar</button>
        </div>
    
    {{ form_rest(form) }}
    </form>

<script>   
/************************************* Beneficiarios **********************************/

// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderBen = $('ul.Beneficiario');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkBen = $('<input style="margin-left: 40px;" type="button" class="btn" value="Agregar Beneficiario"><br /><br />');
var $newLinkLiBen = $('<ul></ul>').append($addTagLinkBen);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderBen.append($newLinkLiBen);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderBen.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderBen.data('index', collectionHolderBen.find(':input').length);

    $addTagLinkBen.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderBen, $newLinkLiBen);
    });
});
</script>

{% endblock %}



