{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}


{% if app.session.started %}
{% for flashMessage in app.session.flashbag.get('aviso') %}
<div class="alert alert-success">
<p>{{ flashMessage }}</p>
</div>
{% endfor %}
{% endif %}

{% set longitud =  (entity.idbeneficiario|length)-1 %} {#Obtengo numero de beneficiarios#}             
<h3 class="text-center"> Datos registrados </h3>

 <table class="table table-bordered table-hover">
        
        	  <tr>
        		    <th>Nombre empleado:</th><td>{{expediente[0].nombre}}</td>
            </tr>
            <tr>
                <th>Fecha de registro:</th><td>{{ entity.fechaseguro|date('Y-m-d')|fecha }}</td>
            </tr>

 </table>

        <h5>Beneficiarios: </h5>
        <table class="table table-bordered table-hover">
          <tr>        
          	<th>Nombre beneficiario</th>
          	<th class="text-center">Parentesco</th>
          	<th class="text-center">Porcentaje</th>
          </tr>           
            {% for i in 0..longitud if longitud >= 0 %}
           <tr>
            <td>{{ entity.idbeneficiario[i].nombrebeneficiario }}</td>
            <td class="text-center">{{ entity.idbeneficiario[i].parentescobeneficiario }}</td>
            <td class="text-center">{{ entity.idbeneficiario[i].porcentaje }}%</td>
           </tr>
             {% endfor %} 
        </table>
      <br /><br />

<h4 class="text-center">¿Qué acción desea realizar?</h4><br />

    <form class="form-inline" action="{{ path('reporte_segurovida') }}" method="post" >
     <div class="text-center">
     <input type="hidden" id='idexp' name='idexp' value={{ expediente[0].idexp }} />
     <input type="hidden" id='id' name='id' value={{ entity.id }} />
     <button type="submit" class="btn btn-primary">Generar PDF</button>
     <button type="button" class="btn" onclick="location.href='{{ path ('segurovida') }}'">Regresar al listado</button>
     <a href="{{ path('segurovida_edit', { 'id': entity.id }) }}" class="btn">Editar Registro</a>
     </div>
        
    </form>

{% endblock %}
