{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
        <link href="{{asset('bundles/expediente/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>
        
        
{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/expediente/js/jquery-1.10.2.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/expediente/js/index.js') }}"></script>
        

        <script type="text/javascript" src="{{asset('bundles/expediente/js/i18n/grid.locale-es.js')}}"></script>

        <script type="text/javascript" src="{{asset('bundles/expediente/js/jquery.jqGrid.min.js')}}" ></script>
{% endblock %}


{% block body -%}
    <h1>Expediente- Pruebapsicologica list</h1>

    <table class="listado_expedientes" id="listado_expedientes">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tipo</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pruebapsicologica_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fechaexpediente | date("d/m/Y")}}</td>
                <td>{{ entity.tipoexpediente }}</td>                        
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div id='pagerEstudiantes' ></div>
    <div id='resultado' ></div>
        <ul>
        <li>
            <a href="{{ path('pruebapsicologica_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
