{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<script>
    jQuery(function() {
        jQuery("#grid_grid_pruebapsicologica__nombrecompleto__query__from").autocomplete({
            source: function( request, response ) {
                jQuery.ajax({
                    url: "{{ path('shtumi_ajaxautocomplete') }}",
                    dataType: "json",
                    data: {
                        maxRows: 12,
                        letters: request.term,
                        entity_alias: "empleados"
                    },
                    success: function( data ) {
                        response( jQuery.map( data, function( item ) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    }
                });
            },
            minLength: 2,
            open: function() {
                jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });

        jQuery("#grid_grid_pruebapsicologica__plaza__query__from").autocomplete({
            source: function( request, response ) {
                jQuery.ajax({
                    url: "{{ path('shtumi_ajaxautocomplete') }}",
                    dataType: "json",
                    data: {
                        maxRows: 12,
                        letters: request.term,
                        entity_alias: "plazas"
                    },
                    success: function( data ) {
                        response( jQuery.map( data, function( item ) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    }
                });
            },
            minLength: 2,
            open: function() {
                jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
</script>
<h4 class='text-center'>INGRESE EL NOMBRE DEL ASPIRANTE Y SELECCIONELO DE LA LISTA</h4>
{{ grid_search(grid) }}

    {{ grid(grid,_self) }}
    
    {#{{grid (grid)}}#}

    {% block grid_filters %}{% endblock %}
{#<fieldset><legend>Resultados de prueba Psicológica</legend>
    <h3>Expediente- Pruebapsicologica list</h3>
    <fieldset><legend>Buscar Aspirante</legend>
    <table class="record_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tipo</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pruebapsicologica_new', { 'idexp': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fechaexpediente | date("d/m/Y")}}</td>
                <td>{{ entity.tipoexpediente }}</td>                        
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </fieldset>
    <p>
        <button type="reset"  class="btn tool">Cancelar</button>
    </p>
</fieldset>#}
<div align='center'>
<a  href="{{ path('hello_page') }}" class="btn">Cancelar</a>            
</div>   
{% endblock %}
