{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<h4 class='text-center'>SELECCIONE UN ASPIRANTE</h4>
{{ grid_search(grid) }}

    {{ grid(grid,_self) }}
    
    {#{{grid (grid)}}#}

    {% block grid_filters %}{% endblock %}
{#<fieldset><legend>Resultados de prueba Psicológica</legend>
    <h3>Expediente- Pruebapsicologica list</h3>
    <fieldset><legend>Buscar Aspirante</legend>
    <table class="record_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tipo</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pruebapsicologica_new', { 'idexp': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fechaexpediente | date("d/m/Y")}}</td>
                <td>{{ entity.tipoexpediente }}</td>                        
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </fieldset>
    <p>
        <button type="reset"  class="btn tool">Cancelar</button>
    </p>
</fieldset>#}
    
{% endblock %}
