{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h4 class='text-center'>RESULTADO DE LAS PRUEBAS PSICOLÓGICAS</h4>
    <fieldset><legend>Datos Generales del evaluado</legend>
    <table>
    {% for exp in expediente %}
    <tr>
        <td>Fecha:<b> {{ exp.fechaexpediente | date('d-m-Y') }} </b></td>
        <td></td>
    </tr>
    <tr>
        <td>Nombre:<b> {{ exp.nombres  }}</b></td>
        <td></td>
    </tr>
    <tr>
        <td>Escolaridad:<b> {{ exp.nombretitulo }}</b></td>
        <td></td>
    </tr>
    <tr>
        <td>Plaza a la que aplica: <b>{{ exp.nombreplaza }}</b></td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
    </fieldset>

    <form action="{{ path('pruebapsicologica_create') }}" id= "pruebapsicologica_form" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {#{{ form_widget(form) }}#}        
        <fieldset>
        <legend>Resultados</legend>
        <p>Para la evaluación psicológica se tomo en cuenta los siguientes aspectos:</p>
        <div class='centered'>
            <table class='table-striped text-center' border='1' width='85%'>    
            <tr>
            <th align="center">Criterios</th>
            <th  width="250">Resultado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rangos</th>
            <th>Calificación</th>
            </tr>            
            <tr>
                <td>{{ form_label(form.resultadocoeficiente) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadocoeficiente %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                </table>
                </td>
                <td>{{ form_widget(form.calificacioncoeficiente) }} {{form_errors(form.calificacioncoeficiente)}}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadoafectividad) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadoafectividad %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                </table>
                </td>                
                <td></td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadorelaciones) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadorelaciones %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadoautoreconocimiento) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadoautoreconocimiento %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadoseguridad) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadoseguridad %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                </table>
                </td>
                <td></td>
            </tr>
            </table>
        </div>
        <fieldset>
        {{ form_widget(form.idexpediente) }}
        <div class='text-center'>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset"  class="btn tool">Cancelar</button>
        </div>
        
    </form>
{% endblock %}
