{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/PruebaPsicologica:registro.html.twig')}}

    {% for flashMessage in app.session.flashbag.get('new') %}
        <div class="alert alert-success">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('errornew') %}
        <div class="alert alert-danger">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    <h4 class='text-center'>RESULTADO DE LAS PRUEBAS PSICOLÓGICAS</h4>
    <h5> Datos Generales del evaluado</h5>
    <table class="table table-bordered table-hover">
    {% for exp in expediente %}
    <tr>
        <th>Fecha:</th>
        <td><b> {{ exp.fechaexpediente | date('d-m-Y') | fecha }} </b></td>
    </tr>
    <tr>
        <th>Nombre:</th>
        <td><b> {{ exp.nombres  }}</b></td>
    </tr>
    <tr>
        <th>Escolaridad:</th>
        <td><b> {{ exp.nombretitulo }}</b></td>
    </tr>
    <tr>
        <th>Plaza a la que aplica:</th>
        <td><b>{{ exp.nombreplaza }}</b></td>
    </tr>
    {#% endfor %#}
    </table>

    <form action="{{ path('pruebapsicologica_create',{'exp':exp.id}) }}" id= "pruebapsicologica_form" class="form-horizontal" method="post" {{ form_enctype(form) }}>
    {% endfor %}
        {#{{ form_widget(form) }}#}        
        <fieldset>
        <legend>Resultados</legend>
        <p>Para la evaluación psicológica se tomo en cuenta los siguientes aspectos:</p><br />
            <table class='centered-table table-bordered' border='1' width='85%'>    
            <tr>
            <th>Criterios</th>
            <th  width="250">Rangos</th>
            <th>Calificación</th>
            </tr>            
            <tr>
                <td>{{ form_label(form.resultadocoeficiente) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadocoeficiente %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                {{form_errors(form.resultadocoeficiente)}}
                </table>
                </td>
                <td>{{ form_widget(form.calificacioncoeficiente) }} {{form_errors(form.calificacioncoeficiente)}}
                    {% for flashMessage in app.session.flashbag.get('calificacion') %}
                        <div class="alert alert-danger">
                            <p> {{ flashMessage }} </p>
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadoafectividad) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadoafectividad %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                {{form_errors(form.resultadoafectividad)}}
                </table>
                </td>                
                <td></td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadorelaciones) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadorelaciones %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                {{form_errors(form.resultadorelaciones)}}
                </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadoautoreconocimiento) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadoautoreconocimiento %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                {{form_errors(form.resultadoautoreconocimiento)}}
                </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form_label(form.resultadoseguridad) }}</td>
                <td>
                <table width='100%'>
                {% for child in form.resultadoseguridad %}
                <tr>
                <td width='210'>{{ child.vars.label }}</td><td>{{ form_widget(child) }}</td>
                <tr>
                {% endfor %}
                {{form_errors(form.resultadoseguridad)}}
                </table>
                </td>
                <td></td>
            </tr>
            </table>
        </fieldset>
        {#{ form_widget(form.idexpediente) }#}
        {{ form_rest(form) }}
        <div class='text-center'>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a  href="{{ path('pruebapsicologica') }}" class="btn" onclick="return confirm('Si cancela, perderá los datos del formulario actual ¿Está seguro de cancelar? ')">Cancelar</a>            
        </div>
        
    </form>
<script type="text/javascript">
$( document ).ready(function() {
    $("#sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").attr("disabled","disabled");
    //alert(document.getElementById("sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").value);
    if(document.getElementById("sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").value!=""){
        $("#sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").removeAttr("disabled");
    }
    $("#sigesrhi_expedientebundle_pruebapsicologicatype_resultadocoeficiente_0").click(function(){
        $("#sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").removeAttr("disabled");
    });
    $("#sigesrhi_expedientebundle_pruebapsicologicatype_resultadocoeficiente_1").click(function(){
        $("#sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").removeAttr("disabled");
    });
    $("#sigesrhi_expedientebundle_pruebapsicologicatype_resultadocoeficiente_2").click(function(){
        $("#sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").removeAttr("disabled");
    });
    $("#sigesrhi_expedientebundle_pruebapsicologicatype_resultadocoeficiente_3").click(function(){
        $("#sigesrhi_expedientebundle_pruebapsicologicatype_calificacioncoeficiente").removeAttr("disabled");
    });
});
</script>
{% endblock %}
