{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    {% for flashMessage in app.session.flashbag.get('new') %}
        <div class="alert alert-success">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}

    <h3 class="text-center"> Datos registrados </h3>
    <fieldset><legend>Datos Generales del evaluado</legend>
    <table class="table table-bordered table-hover">
    {% for exp in expediente %}
    <tr>
        <th>Fecha:</th>
        <td><b> {{ exp.fechaexpediente | date('d-m-Y') | fecha }} </b></td>
    </tr>
    <tr>
        <th>Nombre:</th>
        <td><b> {{ exp.nombres  }}</b></td>
    </tr>
    <tr>
        <th>Escolaridad:</th>
        <td><b> {{ exp.nombretitulo }}</b></td>
    </tr>
    <tr>
        <th>Plaza a la que aplica:</th>
        <td><b>{{ exp.nombreplaza }}</b></td>
    </tr>    
    </table>
    </fieldset>

    <h5>Prueba Psicologica</h5>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Coeficiente Intelectual (C.I.)</th>
                <td>{{ entity.resultadocoeficiente | capitalize }}</td>
            </tr>
            <tr>
                <th>Calificación C.I.</th>
                <td>{{ entity.calificacioncoeficiente }}</td>
            </tr>
            <tr>
                <th>Afectividad</th>
                <td>{{ entity.resultadoafectividad | capitalize}}</td>
            </tr>
            <tr>
                <th>Relaciones Interpersonales</th>
                <td>{{ entity.resultadorelaciones | capitalize}}</td>
            </tr>
            <tr>
                <th>Autoreconocimiento</th>
                <td>{{ entity.resultadoautoreconocimiento | capitalize}}</td>
            </tr>
            <tr>
                <th>Seguridad</th>
                <td>{{ entity.resultadoseguridad | capitalize}}</td>
            </tr>
        </tbody>
    </table>
    <br /><br />
    <h4 class="text-center">¿Qué acción desea realizar?</h4><br />
    <form class="form-inline" action="{{ path('reporte_pruebapsicologica', { 'idexp':exp.id }) }}" method="post" >
     <div class="text-center">
     <input type="hidden" id='idexp' name='idexp' value={{ exp.id }} />
     <button type="submit" class="btn btn-primary">Generar PDF</button>
     <button type="button" class="btn" onclick="location.href='{{ path ('pruebapsicologica_index_edit') }}'">Regresar al listado</button>
     <a href="{{ path('pruebapsicologica_edit', { 'id': entity.id, 'exp': exp.id, 'pr': entity.id }) }}" class="btn">Editar Registro</a>
     </div>
    {% endfor %}
    </form>
{% endblock %}