{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>

    {{ include('CapacitacionBundle:Ayuda/Capacitacion:capacitacion.html.twig')}} 

{# error en el create de la capacitacion #}
{% for flashMessage in app.session.flashbag.get('errorcreate') %}
  <br/><br/>
  <div class="alert alert-danger">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}
{# aviso de plan registrado correctamente #}
{% for flashMessage in app.session.flashbag.get('aviso') %}
<br/><br/>
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}
{# aviso generado al registrar correctamente las capacitaciones #}
{% for flashMessage in app.session.flashbag.get('avisocapacitacion') %}
<br/><br/>
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
  <p class="justifyText"> Si desea registrar otra capacitación ingrese la información. Si ya finalizo el registro del plan de capacitaciones, haga clic en finalizar</p>
{% endfor %}

    <h3 class="text-center">Registro de capacitaciones</h3>
    <p class="text-center"> Digite la siguiente información para el registro de la capacitación</p>
    <br/><br/>

    <form action="{{ path('capacitacion_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

        {{ form_row(form.tematica) }}
        {{ form_row(form.areacapacitacion) }}
        {{ form_row(form.objetivocapacitacion) }}
        {{ form_row(form.metodologia) }}
        {{ form_row(form.resultadoscapacitacion) }}
        {{ form_row(form.idcapacitador) }}
        {{ form_row(form.fechacapacitacion) }}
        {{ form_row(form.horainiciocapacitacion) }}
        {{ form_row(form.horafincapacitacion) }}
        {{ form_row(form.lugarcapacitacion) }}
        {{ form_row(form.perfilcapacitacion) }}
        {{ form_row(form.cupo) }}
        {{ form_row(form.plazocapacitacion) }}
        {{ form_row(form.materialcapacitacion) }}
        {{ form_row(form.contactocapacitacion) }}

        <input type="hidden" id="idplan" name="idplan" value="{{idplan}}" />
        <div class="hide">{{ form_rest(form) }}</div>

        <div class="text-center">
           <button type="submit" class="btn btn-primary">Agregar</button>
           <a href="{{ path('plancapacitacion_show',{'id':idplan}) }}"  class="btn" onclick="return confirm('¿Está seguro de finalizar el registro de capacitaciones?')">Finalizar</a>
        </div>

    </form>

    <script type="text/javascript">
        
        $(function() {
             $("#sigesrhi_capacitacionbundle_capacitaciontype_plazocapacitacion" ).datepicker({
                 yearRange: "-0:+1",
                 dateFormat: 'dd-mm-yy',
                 changeYear: true,
                 changeMonth: true,
                 numberOfMonths: 1,
                 onClose: function( selectedDate ) {
                      $("#sigesrhi_capacitacionbundle_capacitaciontype_fechacapacitacion" ).datepicker( "option", "minDate", selectedDate );
                 }
              });
           
             $("#sigesrhi_capacitacionbundle_capacitaciontype_fechacapacitacion" ).datepicker({
                 yearRange: "-0:+2",
                 dateFormat: 'dd-mm-yy',
                 minDate: -0,
                 changeMonth: true,
                 changeYear: true,
                 numberOfMonths: 1,
                 onClose: function( selectedDate ) {
                 $("#sigesrhi_capacitacionbundle_capacitaciontype_plazocapacitacion" ).datepicker( "option", "maxDate", selectedDate );
                 }
             });
        });
    </script>

{% endblock %}
