{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{% for flashMessage in app.session.flashbag.get('edit') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

    <h3 class="text-center">Datos de Capacitacion</h3>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Tem치tica</th>
                <td>{{ entity.tematica }}</td>
            </tr>
            <tr>
                <th>Fecha capacitacion</th>
                <td>{{ entity.fechacapacitacion|date('Y-m-d')|fecha }}</td>
            </tr>
            <tr>
                <th>Hora inicio</th>
                <td>{{ entity.horainiciocapacitacion|date('h:i a')  }}</td>
            </tr>
            <tr>
                <th>Hora fin</th>
                <td>{{ entity.horafincapacitacion|date('h:i a')  }}</td>
            </tr>
            <tr>
                <th>Facilitador</th>
                <td>{{ entity.idcapacitador.capacitadorins }}</td>
            </tr>
            <tr>
                <th>Lugar de capacitaci칩n</th>
                <td>{{ entity.lugarcapacitacion }}</td>
            </tr>
            <tr>
                <th>Area de capacitacion</th>
                <td>{{ entity.areacapacitacion }}</td>
            </tr>
            <tr>
                <th>Objetivo de la capacitaci칩n</th>
                <td>{{ entity.objetivocapacitacion }}</td>
            </tr>
            <tr>
                <th>Perfil del participante</th>
                <td>{{ entity.perfilcapacitacion }}</td>
            </tr>
            <tr>
                <th>Metodologia</th>
                <td>{{ entity.metodologia }}</td>
            </tr>
            <tr>
                <th>Resultados esperados</th>
                <td>{{ entity.resultadoscapacitacion }}</td>
            </tr>
            <tr>
                <th>Cupo</th>
                <td>{{ entity.cupo }}</td>
            </tr>
            <tr>
                <th>Material de apoyo</th>
                <td>{{ entity.materialcapacitacion }}</td>
            </tr>
            <tr>
                <th>Plazo de inscripci칩n</th>
                <td>{{ entity.plazocapacitacion|date('Y-m-d')|fecha }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ entity.contactocapacitacion }}</td>
            </tr>
            
        </tbody>
    </table>

    <div class="text-center">
    {% if  "now"|date('Y-m-d') <= entity.fechacapacitacion|date('Y-m-d')  %}
      <a href="{{ path('capacitacion_modificar',{'id':entity.id}) }}" class="btn btn-primary"> Modificar </a>
    {% endif %}
      <a href="{{ path('plancapacitacion_show',{'id':entity.idplan.id}) }}" class="btn"> Regresar </a>
    </div>

{% endblock %}
