{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<script>
    jQuery(function() {
        jQuery("#grid_{{ idgrid }}__empleados__query__from").autocomplete({
            source: function( request, response ) {
                jQuery.ajax({
                    url: "{{ path('shtumi_ajaxautocomplete') }}",
                    dataType: "json",
                    data: {
                        maxRows: 12,
                        letters: request.term,
                        entity_alias: "{{ showempleados }}"
                    },
                    success: function( data ) {
                        response( jQuery.map( data, function( item ) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    }
                });
            },
            minLength: 2,
            open: function() {
                jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });

        jQuery("#grid_{{ idgrid }}__codigos__query__from").autocomplete({
            source: function( request, response ) {
                jQuery.ajax({
                    url: "{{ path('shtumi_ajaxautocomplete') }}",
                    dataType: "json",
                    data: {
                        maxRows: 12,
                        letters: request.term,
                        entity_alias: "codigos"
                    },
                    success: function( data ) {
                        response( jQuery.map( data, function( item ) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    }
                });
            },
            minLength: 2,
            open: function() {
                jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
</script>

{% for flashMessage in app.session.flashbag.get('confirm') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}
<br>
<h4 class='text-center'>ADMINISTRACION DE EMPLEADOS</h4>
<p class="text-center">Seleccione el empleado de la lista</p>
{{ grid_search(grid) }}

{{ grid(grid,_self) }}

{% block grid_filters %}{% endblock %}
<br>
    <div align='center'>
        <input type="hidden" id="showempleados" value="{{showempleados}}">
        <input type="hidden" id="idgrid" value="{{idgrid}}">
        <a  href="{{ path('hello_page') }}" class="btn">Cancelar</a>            
    </div>
{% endblock %}
