{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{% for flashMessage in app.session.flashbag.get('confirm') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}
<h4 class='text-center'>SELECCIONE UN ASPIRANTE</h4>
{{ grid_search(grid) }}

    {{ grid(grid,_self) }}

    {% block grid_filters %}{% endblock %}

{# block body -%}
    <h1>Expediente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaexpediente</th>
                <th>Tipoexpediente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('expediente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaexpediente %}{{ entity.fechaexpediente|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.tipoexpediente }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('expediente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('expediente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('expediente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock #}
    <div align='center'>
        <a  href="{{ path('hello_page') }}" class="btn">Cancelar</a>            
    </div>
{% endblock %}
