{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h4 class='text-center'>Aspirantes a Eliminar</h4>
    <p class="text-center">Ejecute la acción si desea eliminar estos aspirantes</p>
    <div align="center">
    {{ grid_search(grid) }}     

    {{ grid(grid,_self) }}
    
    {#{{grid (grid)}}#}

    {% block grid_filters %}{% endblock %}       
        {% if aspirantesElim %}
        <a href="{{ 
                    path('eliminar_aspirantes_confirm',
                        { 'fecha': fecha }
                        )
                    }}" class="btn btn-danger" onclick="return confirm('Se borraran los datos de los aspirantes mostrados ¿Está seguro de Eliminar? ')">Eliminar</a>
        {% endif %}
        <br>
            <a href="{{ 
                path('eliminar_aspirantes')
                }}" class="btn">Cancelar</a>
    </div>
{% endblock %}