{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h4 class='text-center'>Aspirantes a Eliminar</h4>
    <div align="center">
    {{ grid_search(grid) }}     

    {{ grid(grid,_self) }}
    
    {#{{grid (grid)}}#}

    {% block grid_filters %}{% endblock %}
    {#
    <fieldset><legend>Aspirantes con más de <b>{{anos}}</b> años de antigüedad</legend>
    {% if aspirantesElim %}
        <table class='table table-bordered table-hover'>                
        <tr>
            <th>Nombre de Aspirante</th><th>Puesto al que aplica</th><th>Estado</th><th>Fecha Registro</th>
        </tr>                
        {% for aspirante in aspirantesElim %}
        <tr>
            <td>{{aspirante.nombres}}</td><td>{{aspirante.nombreplaza | capitalize}}</td>
                <td>
                {% if aspirante.estado == 'I' %}
                    Invalido
                {% elseif aspirante.estado == 'A' %}
                    Válido
                {% endif %}
                </td>
            <td>{{aspirante.fechaexpediente | date('d-m-Y')}}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        [No se encontraron resultados]
    {% endif %}
    </fieldset>
    #}        
        {% if aspirantesElim %}
        <a href="{{ 
                    path('eliminar_aspirantes_confirm',
                        { 'fecha': fecha }
                        )
                    }}" class="btn btn-danger" onclick="return confirm('Se borraran los datos de los aspirantes mostrados ¿Está seguro de Eliminar? ')">Eliminar</a>
        {% endif %}
        <a href="#" onclick="history.back()" class="btn" >Cancelar</a>
    </div>
{% endblock %}