{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/Expediente:validar.html.twig')}}

    {% for flashMessage in app.session.flashbag.get('new') %}
        <div class="alert alert-success">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('errornew') %}
        <div class="alert alert-danger">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    <h4 class='text-center'>Registrar como aspirante válido de banco de datos institucional.</h4><br>
    <h5>Datos Generales del Aspirante</h5>
    <table width="100%">
    {% for exp in expediente %}
    <tr>
       <td width="25%"> 
        <table border="3" align="center" width="150px" height="193px">
                <tr>
                    <td>
                        <img src="{{asset('uploads/fotografias/' ~ exp.fotografia)}}"  class="fotoSol"/>
                    </td>
                </tr>
        </table>
       </td>
      <td>
        <table class="table table-bordered table-hover mitable">
           <tr>
              <th>Nombre:</th>
              <td>{{ exp.nombrecompleto  }}</td>
           </tr>
           <tr>
              <th>Plaza solicitada:</th>
              <td>{{ exp.nombreplaza  }}</td>
           </tr>
           
          
           <tr>
             <th>Correo electrónico:</th>
             <td>{{ exp.email }}</td>
           </tr>
            <tr>
          <th>Direccion:</th>
          <td>{{ exp.direccion }}</td>
    </tr>
    <tr>
        <th>Fecha de nacimiento:</th>
        <td>{{ exp.fechanac | date('d-m-Y') | fecha }}</td>
    </tr>
    <tr>
        <th>Estado civil:</th>
        <td>
          {% set gen='o' %}
          {% if exp.sexo=='F' %}
          {% set gen='a' %}
          {% endif %} 
          {% if exp.estadocivil=='C' %}
           Casad{{gen}}
          {% elseif exp.estadocivil=='S' %}
           Solter{{gen}}
          {% elseif exp.estadocivil=='D' %}
           Divorciad{{gen}}
          {% elseif exp.estadocivil=='A' %}
           Acompañad{{gen}}
          {% elseif exp.estadocivil=='V' %}
           Viud{{gen}}
          {% endif %}
        </td>
    </tr>
    <tr>    
        <th>Telefono (movil):</th>
        <td>{{ exp.telefonomovil }}</td>
    </tr>
   </table>
  </td>
 </tr>
</table>
    <h5>Documentos de identidad personal</h5>
    <table class="table table-bordered table-hover">
    <tr>
        <th>No. DUI</th>
        <th>No. NIT</th>
        <th>No. ISSS</th>
        <th>No. NUP</th>
        <th>No. NIP (docentes)</th>
    </tr>
    <tr>
        <td>{{ exp.dui }}</td>
        <td>{{ exp.nit }}</td>
        <td>{{ exp.isss }}</td>
        <td>{{ exp.nup }}</td>
        <td>{{ exp.nip }}</td>
    </tr>
    <tr>
        <td colspan="5"><b>Lugar y fecha de expedición de DUI:</b> {{ exp.lugardui }}, {{ exp.fechadui | date('d-m-Y') | fecha }}</td>
    <tr>
    </table>
    <br>
    </fieldset>    
    <table width="100%">
        <tr align="center">
            <td><a href="{{ 
                    path('solicitud_show',
                        { 'id': exp.id }
                        )
                    }}">Consultar solicitud de empleo registrada</a></td>
            <td><a href="{{ 
                    path('docpersonal_new',
                        { 'id': exp.id , 'exp': exp.idexpediente}                    
                        )
                    }}">Consultar Documentación registrada</a></td>
        </tr><tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2" align="center">Para aprobar la solicitud como válida del banco de datos institucional haga click en Aceptar.</td>
        </tr><tr><td>&nbsp;</td></tr>
        <tr align="center">
            <td><a href="{{ 
                    path('expediente_confirm_valid',
                        { 'id': exp.idexpediente }
                        )
                    }}" onclick="return confirm('¿Está seguro de registrarlo como válido? ')" class="btn btn-primary">Aceptar</a></td>
            <td><a href="#" onclick="history.back()" class="btn">Cancelar</a></td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}