{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RefrendaAct list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigoempleado</th>
                <th>Partida</th>
                <th>Subpartida</th>
                <th>Sueldoactual</th>
                <th>Unidadpresupuestaria</th>
                <th>Lineapresupuestaria</th>
                <th>Codigolp</th>
                <th>Nombreplaza</th>
                <th>Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('refrendaact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigoempleado }}</td>
                <td>{{ entity.partida }}</td>
                <td>{{ entity.subpartida }}</td>
                <td>{{ entity.sueldoactual }}</td>
                <td>{{ entity.unidadpresupuestaria }}</td>
                <td>{{ entity.lineapresupuestaria }}</td>
                <td>{{ entity.codigolp }}</td>
                <td>{{ entity.nombreplaza }}</td>
                <td>{{ entity.tipo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('refrendaact_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('refrendaact_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('refrendaact_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
