{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{% for flashMessage in app.session.flashbag.get('aviso') %}
    <div class="alert alert-success">
       <p> {{ flashMessage }}</p>
    </div>
{% endfor %}


<script type='text/javascript'>
function eliminar() {

    if(confirm('\xbfEst\xE1 seguro que desea eliminar este registro?')) {
        document.getElementById('form_borrar').submit();
}
}
</script>
    {% if tipogrid == 1 %}
    <h3 class="text-center">Datos del puesto </h3>
    {% else %}
    <h3 class="text-center">Datos del nuevo puesto </h3>
    {% endif %}
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th width="35%">Nombre plaza</th>
                <td>{{ entity.nombreplaza }}</td>
            </tr>
            <tr>
                <th>Partida</th>
                <td>{{ entity.partida }}</td>
            </tr>
            <tr>
                <th>Subpartida</th>
                <td>{{ entity.subpartida }}</td>
            </tr>
            <tr>
                <th>Sueldo actual</th>
                <td>$ {{ entity.sueldoactual|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Unidad presupuestaria</th>
                <td>{{ entity.unidadpresupuestaria }}</td>
            </tr>
            <tr>
                <th>Linea presupuestaria</th>
                <td>{{ entity.lineapresupuestaria }}</td>
            </tr>
            <tr>
                <th>Codigo Linea presupuestaria</th>
                <td>{{ entity.codigolp }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>
                {% if entity.tipo == 'ls' %} 
                    Ley de salario
                    {% else %}
                    Contrato
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="text-center">
        {% if tipogrid == 1 %}
        <a href="{{path('refrendaact') }}" class="btn btn-primary">Cancelar</a>
        
        {% elseif tipogrid == 2 %}
        <a href="{{path('refrendaact') }}" class="btn btn-primary">Finalizar</a>
        <a href="{{ path('refrendaact_edit', { 'id': entity.id, 'tipogrid':tipogrid }) }}" class="btn"> Editar </a>
        <button type="button"  class="btn btn-danger" onclick="eliminar();">Borrar</button>
        <form action="{{ path('refrendaact_delete', { 'id': entity.id }) }}" id="form_borrar" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="tipogrid" id="tipogrid" value="{{tipogrid}}" />
           <div class="hide">  {{ form_widget(delete_form) }} </div>
        </form>
        {% else %}
        <a href="{{path('contratacion_tipo',{'tipo':tipo,'tipogrid':tipocontratacion,'idexp':idexp}) }}" class="btn btn-primary">Finalizar</a>
        <a href="{{ path('refrendaact_edit', { 'id': entity.id, 'tipo':tipo,'tipocontratacion':tipocontratacion,'idexp':idexp }) }}" class="btn"> Editar </a>
        <button type="button"  class="btn btn-danger" onclick="eliminar();">Borrar y cancelar </button>
        <form action="{{ path('refrendaact_delete', { 'id': entity.id }) }}" id="form_borrar" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="tipo" id="tipo" value="{{tipo}}" />
            <input type="hidden" name="tipocontratacion" id="tipocontratacion" value="{{tipocontratacion}}" />
            <input type="hidden" name="idexp" id="idexp" value="{{idexp}}" />
           <div class="hide">  {{ form_widget(delete_form) }} </div>
        </form>
        {% endif %}
    </div>
{% endblock %}
