{% extends '::PrincipalBase.html.twig' %}

{% block principal %}

{% for flashMessage in app.session.flashbag.get('new') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

    <h4 class="text-center">AGREGAR DOCUMENTOS DIGITALES</h4>

    <br>
    <p class="help-block"> Registre los documentos digitales ingresando uno a la vez y seleccionando guardar, los registros aparecen en la parte de abajo, dando la posibilidad de registrar un nuevo archivo cada vez.</p>
    <p class="help-block"> Los Archivos permitidos son: Imagenes (png/jpg) - Documentos (pdf) - Archivos comprimidos (rar, zip)</p>

    <form action="{{ path('docdigital_create', {'id':id}) }}" method="post" {{ form_enctype(form) }}>
        
        <br>
        
<table border="0" width="100%" class="form-inline centered-table">
    <tr>
        <td width="40%"><b>{{form_label(form.nombredocexp)}}</b></td>
        <td><b>{{form_label(form.file)}}</b></td>
    </tr>
    <tr>
        <td>{{form_widget(form.nombredocexp)}} {{form_errors(form.nombredocexp)}} </td>
        <td> {{form_widget(form.file)}} {{form_errors(form.file)}} </td>
    </tr>
</table>

<br>

        {{ form_rest(form) }}
        <br>

        <div class="text-center">
        
            <button type="submit"  class="btn btn-primary">Guardar Documentos</button>
            <a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
        
        </div>
        <br>

        {% if documentos|length > 0 %}
        <div class="text-center">
            <h3>Documentos Digitales Registrados</h3>

            <table width="100%" border="2" class="table table-bordered table-hover">
                <tr>
                    <th>Nombre del Archivo:</th>
                    <th>Fecha de Registro: </th>
                    <th>Archivo:</th>
                </tr>

                {% for documento in documentos %}

                <tr>
                    <td>{{documento.nombredocexp}}</td>
                    <td> {{(documento.fechadocexp|date('d-m-Y'))|fecha}} </td>
                    <td><a href="{{path('docdigital_ver_docdigital', {'iddoc': documento.id})}}" > Ver Archivo registrado</a></td>
                </tr>

                {% endfor %}

            </table>


        </div>
        {% endif %}


    </form>

       
{% endblock %}
