{% extends '::PrincipalBase.html.twig' %}

{% block principal %}
    <h4 class="text-center">AGREGAR DOCUMENTOS DIGITALES</h4>

    <form action="{{ path('docdigital_create', {'id':id}) }}" method="post" {{ form_enctype(form) }}>
        
        <br>
        
<table border="0" width="100%" class="form-inline centered-table">
    <tr>
        <td width="40%"><b>{{form_label(form.nombredocexp)}}</b></td>
        <td><b>{{form_label(form.file)}}</b></td>
    </tr>
    <tr>
        <td>{{form_widget(form.nombredocexp)}} {{form_errors(form.nombredocexp)}} </td>
        <td> {{form_widget(form.file)}} {{form_errors(form.file)}} </td>
    </tr>
</table>

<br>

        {{ form_rest(form) }}
        <br>

        <div class="text-center">
        
            <button type="submit"  class="btn btn-primary">Guardar Documentos</button>
            <button type="button" onclick="cancelar();" class="btn">Cancelar</button>
        
        </div>

        {% if documentos|length > 0 %}
        <div class="text-center">
            <h3>Documentos Registrados</h3>

            <table>

                {% for documento in documentos %}

                <tr>
                    <td>{{documento.nombredocexp}}</td>
                    <td>{{documento.rutadocexp}}</td>
                </tr>

                {% endfor %}

            </table>


        </div>
        {% endif %}


    </form>

       
{% endblock %}
