{# vista para visualizar los documentos digitales que han sido registrados#}

{% extends '::PrincipalBase.html.twig' %}

{% block principal %}



<div class="text-center">
	
	<h4>{{entity.nombredocexp}}</h4>
	<br>
	{% if extension|lower == "jpg" or extension|lower == "png" %}
	Es una imagen: {{entity.rutadocexp}}
	{% endif %}

	{% if extension|lower == "pdf" %}
	Es un documento pdf {{entity.rutadocexp}}
	{% endif %}

	{% if extension|lower == "rar" or extension|lower == "zip" %}
	Es un archivo comprimido: {{entity.rutadocexp}}
	{% endif %}

	2. Es un archivo: {{entity.rutadocexp}}

<img src="{{asset('uploads/docs_expediente/' ~ entity.rutadocexp)}}" />
<br>
<br>

<button type="button" class="btn" onclick="javascript: window.history.back(1)">Regresar al listado</button>
</div>
{% endblock %}