{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h3 class="text-center">Modificacion de Puntaje</h3>

    <form action="{{ path('puntaje_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        <table class="table table-bordered">
            <tr>
                <th>{{form_label(edit_form.nombrepuntaje)}}</th>
                <th>{{form_label(edit_form.puntajemin)}}</th>
                <th>{{form_label(edit_form.puntajemax)}}</th>
            </tr>
            <tr>
                <td>{{form_widget(edit_form.nombrepuntaje)}} {{form_errors(edit_form.nombrepuntaje)}}</td>
                <td>{{form_widget(edit_form.puntajemin)}} {{form_errors(edit_form.puntajemin)}}</td>
                <td>{{form_widget(edit_form.puntajemax)}} {{form_errors(edit_form.puntajemax)}}</td>
            </tr>

        </table>

         

        {{ form_rest(edit_form) }}
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Modificar</button>
            <a href="{{ path('puntaje') }}" class="btn">Regresar a Lista</a>
        </div>
    </form>

        
        
{% endblock %}
