{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('msg-error') %}
    <div class="alert alert-danger">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}
    <h3 class="text-center">Registro de Nuevo Puntaje</h3>

    <form action="{{ path('puntaje_create') }}" method="post" {{ form_enctype(form) }}>
        

        <table class="table table-bordered mitable centered-table tabla-corta form-inline">
            <tr>
                <th width="45%">{{form_label(form.nombrepuntaje)}}</th><td>{{form_widget(form.nombrepuntaje)}} {{form_errors(form.nombrepuntaje)}}</td>
            </tr>
            <tr>
                <th>{{form_label(form.puntajemin)}}</th><td>{{form_widget(form.puntajemin)}} {{form_errors(form.puntajemin)}}</td>
            </tr>
            <tr>
                <th>{{form_label(form.puntajemax)}}</th><td>{{form_widget(form.puntajemax)}} {{form_errors(form.puntajemax)}}</td>
            </tr>
            <tr>
                <th>{{form_label(form.nombreabreviado)}}</th><td>{{form_widget(form.nombreabreviado)}} {{form_errors(form.nombreabreviado)}}</td>
            </tr>
            <tr>
                <th>{{form_label(form.pescalafon)}}</th><td>{{form_widget(form.pescalafon)}} {{form_errors(form.pescalafon)}}</td>
            </tr>
        </table>

        <br>

        {{ form_rest(form) }}
        
            
            <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a href="{{ path('puntaje') }}" class="btn">Regresar a lista</a>
            </div>
    </form>

     
     <style type="text/css">
 
    input[type="number"],
  .uneditable-input {
  border: 0px;
  height: 15px;
  -webkit-box-shadow: inset 0 0px 0px 0px;
     -moz-box-shadow: inset 0 0px 0px 0px;
          box-shadow: inset 0 0px 0px 0px;
}

input[type="number"]:focus,
  .uneditable-input {
  -webkit-box-shadow: inset 0 0px 0px 0px, 0 0 0px 0px;
     -moz-box-shadow: inset 0 0px 0px 0px, 0 0 0px 0px;
          box-shadow: inset 0 0px 0px 0px, 0 0 0px 0px;
}

.tabla-corta
{
width:55%;
}
</style>
        
    
{% endblock %}
