{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h3 class="text-center">Puntaje</h3>

    <table class="table-bordered" border="2" width="50%" class="table-center">
            <tr>
                <th  width="50%">Nombre:</th>
                <td>{{ entity.nombrepuntaje }}</td>
            </tr>
            <tr>
                <th>Puntaje minimo:</th>
                <td>{{ entity.puntajemin }}</td>
            </tr>
            <tr>
                <th>Puntaje máximo:</th>
                <td>{{ entity.puntajemax }}</td>
            </tr>
    </table>

     <div class="text-center">
        <a href="{{ path('puntaje') }}" class="btn"> Regresar a Lista</a>
        <a href="{{ path('puntaje_edit', { 'id': entity.id }) }}" class="btn"> Modificar </a>
        <button type="button" class="btn btn-danger"> Eliminar</button>
    </div>
    
    <div class="hide">
        <form action="{{ path('puntaje_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        </form>
    </div>
    
{% endblock %}
