{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{% for flashMessage in app.session.flashbag.get('errornew') %}
    <div class="alert alert-danger">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

    <h3 class="text-center">Registro de Solicitud para participación en Capacitación</h3>
    <br/>
    <form action="{{ path('solicitudcapacitacion_create') }}" method="post" {{ form_enctype(form) }}>
        {#{ form_widget(form) }#}
    <h4>Detalles Capacitación</h4>
    <table class='table mitable table-bordered' width='100%' align='center'>    
        <tr>
            <th>Temática</th>
            <td colspan="3" width="75%">{{ capacitacion.tematica }}</td>
        </tr>
        <tr>
            <th width="25%">Lugar</th>
            <td>{{ capacitacion.lugarcapacitacion }}</td>
            <th>Fecha</th>
            <td>{{ capacitacion.fechacapacitacion | date('d-m-Y') | fecha }}</td>
        </tr>
        <tr>
            <th>Hora inicio</th>
            <td>{{ capacitacion.horainiciocapacitacion | date('h:i a') }}</td>
            <th>Hora Finalizacion</th>
            <td>{{ capacitacion.horafincapacitacion | date('h:i a') }}</td>
        </tr>
        <tr>
            <th>Objetivo</th>
            <td colspan="3" width="75%">{{ capacitacion.objetivocapacitacion}}</td>
        </tr>
        <tr>
            <th>Perfil del participante</th>
            <td colspan="3" width="75%">{{ capacitacion.perfilcapacitacion }}</td>
        </tr>
        <tr>
            <th width="25%">Capacitador</th>
            <td>{{ capacitacion.idcapacitador.nombrecapacitador }}</td>
            <th width="25%">Institución</th>
            <td>{{ capacitacion.idcapacitador.idinstitucion.nombreinstitucion }}</td>
        </tr>
        <tr>
            <th>Cupo</th>
            <td colspan="3" width="75%">{{ capacitacion.cupo }}</td>
        </tr>
    </table>
   
    <br/>
    <h4>Aplicar para participar en Capacitacion</h4>
    <table class='table table-bordered mitable' border='1' width='100%' align='center'>    
        <tr>
            <th width="25%">{{ form_label(form.motivosolicitud) }}</th>
            <td>{{ form_widget(form.motivosolicitud) }}</td>
        </tr>
        {% if empleado.idrefrenda|length > 1 %}
        <tr>
            <th width="25%">A quien solicitar</th>
            <td>
              <select id="idjefe" name="idjefe" class="input-xlarge">
              {% for jefe in jefes %}
              <option value="{{jefe.id}}">{{jefe.puesto}}</option>
              {% endfor %}
              </select>
            </td>
        </tr>
        {% else %}
        <input type="hidden" name="idjefe" id="idjefe" value="{{ jefes[0].id }}">
        {% endif %}
    </table>

    <input type="hidden" name="idcapa" id="idcapa" value="{{ capacitacion.id }}">
    <input type="hidden" name="idempleado" id="idempleado" value="{{ empleado.id }}">
   

    {{ form_rest(form) }}
    <div class='text-center'>
        <button type="submit" class="btn btn-primary">Aplicar</button>
        <a href="#" onclick="history.back()" class="btn">Cancelar</a>
    <div>
    </form>
{% endblock %}
