{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{% for flashMessage in app.session.flashbag.get('edit') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

<style>
.tabla{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
</style>

    <h3 class="text-center">Edición de datos de institución</h3>

    <form action="{{ path('institucion_update', { 'id': entity.id,'pag':pag }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        

     <table class="table table-bordered form-inline mitable tabla">
       <tr>
          <th> {{ form_label(edit_form.nombreinstitucion) }} </th>
          <td> {{ form_widget(edit_form.nombreinstitucion) }} {{ form_errors(edit_form.nombreinstitucion) }}</td>
       </tr>
       <tr> 
          <th> {{ form_label(edit_form.nombrecontacto) }} </th>
          <td> {{ form_widget(edit_form.nombrecontacto) }} {{ form_errors(edit_form.nombrecontacto) }} </td>
       </tr>
       <tr> 
          <th> {{ form_label(edit_form.telefonocontacto) }} </th>
          <td> {{ form_widget(edit_form.telefonocontacto) }} {{ form_errors(edit_form.telefonocontacto) }} </td>
       </tr>
       <tr> 
          <th> {{ form_label(edit_form.cargocontacto) }} </th>
          <td> {{ form_widget(edit_form.cargocontacto) }} {{ form_errors(edit_form.cargocontacto) }} </td>
       </tr>
       <tr>
          <th> {{ form_label(edit_form.emailcontacto) }} </th>
          <td> {{ form_widget(edit_form.emailcontacto) }} {{ form_errors(edit_form.emailcontacto) }} </td>    
       </tr>
     </table>    

        {{ form_rest(edit_form) }}

        <br/><br/>
                
        <div class="text-center">
         <button type="submit" class="btn btn-primary">Actualizar</button>
         {% if pag == 3 %} {# modificar #}
         <a href="{{ path('institucion_modificar') }}"  class="btn">Cancelar</a>
         {% else %}
         <a href="{{ path('institucion_show',{'id':entity.id, 'pag':pag }) }}"  class="btn">Cancelar</a>
         {% endif %}
       </div>
    </form>
{% endblock %}
