{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<script type='text/javascript'>
function eliminar() {

    if(confirm('\xbfEst\xE1 seguro que desea eliminar este registro?')) {
        document.getElementById('form_borrar').submit();
}
}
</script>
<style>
.tabla{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
</style>

    <h3 class="text-center">Datos registrados</h3>

    <table class="table table-bordered table-hover tabla">
        <tbody>
            <tr>
                <th>Nombre institución</th>
                <td>{{ entity.nombreinstitucion }}</td>
            </tr>
            <tr>
                <th>Nombre contacto</th>
                <td>{{ entity.nombrecontacto }}</td>
            </tr>
            <tr>
                <th>Telefono contacto</th>
                <td>{{ entity.telefonocontacto|telefono }}</td>
            </tr>
            <tr>
                <th>Cargo contacto</th>
                <td>{{ entity.cargocontacto }}</td>
            </tr>
            <tr>
                <th>Email contacto</th>
                <td>{{ entity.emailcontacto }}</td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <div class="text-center">
    <a href="{{ path('pantalla_instituciones') }}" class="btn btn-primary"> Finalizar </a>
    <a href="{{ path('institucion_edit', { 'id': entity.id }) }}" class="btn"> Editar </a>
    <button type="button"  class="btn btn-danger" onclick="eliminar();">Borrar</button>
        <form action="{{ path('institucion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <div class="invisible">{{ form_widget(delete_form) }}</div>
        </form>
    </div>
{% endblock %}
