{% for flashMessage in app.session.flashbag.get('fos_user_success') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">

	<h3 class="text-center"> Cambio de contraseña </h3>
    
    <fieldset>
    	<legend>Datos solicitados</legend>
    {{ form_row(form.current_password) }}
    {{ form_row(form.new) }}
    </fieldset>
    {{ form_rest(form) }}
    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        <a href="{{ path('hello_page') }}"  class="btn">Cancelar</a>
    </div>
</form>
