{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Validar Solicitud de Aspirante</h3>
<p>Esta ventana permite verificar la documentaci&oacute;n de un aspirante como requisito previo antes de ingresar al Banco de Datos Institucional (ISRI) </p>
{% endblock %}


{% block contenido %}
 <p><h4>¿C&oacute;mo ingresar un aspirante al Banco de Datos Institucional?</h4></p>
<p>Se describen a continuaci&oacute;n los pasos necesarios:</p>
<ul style="list-style-type:disc; margin-left:25px">
<li>Consultar la solicitud de empleo y documentaci&oacute;n registrada por el aspirante, por medio de los link que se muestran en la siguiente imagen:</li>
<img src="{{asset('images/images_ayuda/cosultardoc.jpg') }}" alt="ISRI"/>
<div class="justifyText"><b>Al seleccionar "Consultar solicitud de Empleo"</b> se despliega una nueva ventana, donde se muestra la solicitud del aspirante, junto con la opci&oacute;n de impresi&oacute;n  de la misma.<br>
<b>Al consultar "documentaci&oacute;n registrada:"</b> Se muestran los documentos que debe entregar un aspirante para formar parte del Banco de Datos, asignando un n&uacute;mero correlativo que corresponde al expediente del aspirante<br></div>
<img src="{{asset('images/images_ayuda/docregistrado.jpg') }}" alt="ISRI"/><br><br>
<li>Para registrar un nuevo documento, digite el nombre del documento y n&uacute;mero correlativo, al finalizar presione el bot&oacute;n "Agregar"</li>
<img src="{{asset('images/images_ayuda/agregardoc.jpg') }}" alt="ISRI"/><br><br>
<li>Se mostrar&aacute; un mensaje con la confirmaci&oacute;n del registro del documento</li>
<img src="{{asset('images/images_ayuda/docexpediente.jpg') }}" alt="ISRI"/><br><br>
<li>Verifique en la lista de documentos registrados, el archivo recien ingresado. Puede realizar acciones sobre dichos documentos como: actualizar o eliminar.</li>
<li>Una vez verificada la informaci&oacute;n del aspirante. Para ingresar el aspirante al banco de datos presione el bot&oacute;n "Aceptar"</li>
<img src="{{asset('images/images_ayuda/validaraspirantes.jpg') }}" alt="ISRI"/><br><br>
<li>El sistema solicita la  confirmaci&oacute;n del nuevo registro. Presione "Aceptar"</li>
<img src="{{asset('images/images_ayuda/confirmarvalidez.jpg') }}" alt="ISRI"/><br><br>
<li>Con el mensaje siguiente se confirma la creaci&oacute;n de un expediente al aspirante para formar parte del banco de datos institucional, lo cual le permite pertenecer a la lista de entre los elegibles para optar a un puesto del ISRI.</li>
<img src="{{asset('images/images_ayuda/aspirantevalido.jpg') }}" alt="ISRI"/><br><br>
</ul>
<br><br>
{% endblock %}