{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Idioma</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombreidioma</th>
                <td>{{ entity.nombreidioma }}</td>
            </tr>
            <tr>
                <th>Nivelescribe</th>
                <td>{{ entity.nivelescribe }}</td>
            </tr>
            <tr>
                <th>Nivelhabla</th>
                <td>{{ entity.nivelhabla }}</td>
            </tr>
            <tr>
                <th>Nivellee</th>
                <td>{{ entity.nivellee }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('idioma') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('idioma_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('idioma_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
