{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
{{ include('EvaluacionBundle:Ayuda/Incidente:Registrar.html.twig')}}

<h4 class="text-center">REGISTRO INDIVIDUAL DE INCIDENTES CRITICOS DE DESEMPE&Ntilde;O PARA {{evaluacion.Respuestas[0].idfactor.idformulario.nombrebreve}}</h4>
<br>
<table class="table table-bordered table-hover mitable">
	<tr>
		<th width="50%">Nombre del empleado: </th><th>Puesto que ocupa:</th>
	</tr>
	<tr>
		<td>{{puestoemp.idempleado.idexpediente.idsolicitudempleo.nombrecompleto}}</td><td>{{puestoemp.idplaza.nombreplaza}}</td>
	</tr>
	<tr>
		<th>Nombre del jefe inmediato: </th><th>Puesto que ocupa:</th>
	</tr>
	<tr>
		<td>{{puestojefe.idempleado.idexpediente.idsolicitudempleo.nombrecompleto}}</td><td>{{puestojefe.idplaza.nombreplaza}}</td>
	</tr>
</table>

<div class="text-center">
Factores que observan: <br>
<table border="1" class="centered-table table-bordered table-hover" width="50%" align="center">
{% for factor in evaluacion.Respuestas[0].idfactor.idformulario.Factores %}
		<tr><td>{{loop.index}}. {{ factor.nombrefactor}} </td></tr>
{% endfor %}
</table>
</div>

<br>

<form action="{{path('evaluacion_incidente', {'idevaluacion':evaluacion.id})}}" method="post">
<table class="table table-bordered form-inline">
	<tr>
		<th width="5%">Fecha</th>
		<th width="25%">Factor</th>
		<th width="20%">Incidente</th>
		<th width="50%">Descripción del evento</th>
	</tr>
{% for incidente in evaluacion.Incidentes %}
<tr>
	<td>{{incidente.fechaincidente|date('d-m-Y')}}</td>
	<td>{{incidente.idfactorevaluacion.nombrefactor}}</td>
	<td>{% if incidente.tipoincidente == "F"%} Favorable {% elseif incidente.tipoincidente == "D" %} Desfavorable {% endif %}</td>
	<td>{{incidente.descripcionincidente}}</td>
</tr>
{% endfor %}

	<tr>
		<td><input type="text" required="required" class="date input-small " data-bvalidator="required" readonly="readonly" name="fecha" /></td>
		<td>
			<select name="factor" id="factor" required="required" >
				{% for factor in evaluacion.Respuestas[0].idfactor.idformulario.Factores %}
				<option value="{{factor.id}}"> {{ factor.nombrefactor}}</option>
				{% endfor %}
			</select>
		</td>
		<td>
			<select name="tipoincidente" id="tipoincidente" required="required" class="input-small" >
					<option value="F"> Favorable </option>
					<option value="D"> Desfavorable </option>
			</select>
		</td>
		<td><textarea rows="2" required="required" name="descripcionincidente"></textarea> </td>
	</tr>
</table>

<div class="text-center">
	
 <input type="submit" class="btn btn-primary" value="Registrar"> 
<input type="button" class="btn " onclick="location.href='{{path('evaluacion_show', {'id':evaluacion.id})}}'" value="Finalizar">

</div>
</form>

<style>
    textarea {
        width:90%;
    }
</style>

<script>
$(document).ready(function(){
 
    $('#factor').prop("selectedIndex",-1);
    $('#tipoincidente').prop("selectedIndex",-1);
 
    });
</script>
{% endblock %}