{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>

{{ include('EvaluacionBundle:Ayuda/Evaluacion:Registrar.html.twig')}}

    <div align="right">
    <b>{{formulario.codigoformulario}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div class="text-center">
    <h4>{{formulario.tipoformulario}}</h4>
    </div>
<br>

<form action="{{ path('evaluacion_create') }}" method="post" {{ form_enctype(form) }} id="frm_evaluacion">
    
    <h4>I. DATOS GENERALES</h4>

        <table class="table table-bordered table-centered mitable form-inline" width="90%">
            <tr><th width="30%">Nombre del empleado: </th><td>{{empleado.idexpediente.idsolicitudempleo.nombrecompleto}}</td></tr>
            <tr><th>Código:</th><td>{{empleado.codigoempleado}}</td></tr>
            <tr><th>Cargo según nombramiento:</th><td>{{refrenda.idplaza.nombreplaza}}</td></tr>
            <tr><th>Fecha de ingreso: </th><td>{{empleado.idexpediente.hojaservicio.fechaingreso|date('d-m-Y')|fecha}}</td></tr>
            <tr><th>Número de partida:</th><td>{{refrenda.partida}}</td></tr>
            <tr><th>Número de subpartida:</th><td>{{refrenda.subpartida}}</td></tr>
            <tr><th>Sueldo:</th><td> ${{refrenda.sueldoactual}}</td></tr>
            <tr><th>Cargo según función:</th><td> <input type="text" name="cargofuncion" class="input-xxlarge"/></td></tr>
            <tr><th>A partir de:</th><td> <input type="text" class="date input-small" name="fechacargofuncion" id="fechacargofuncion" readonly="readonly"/> 
                    <button type="button" onclick="borrafecha()">Borrar fecha </button>
                </td></tr>
            <tr><th>Dependencia:</th><td>{{refrenda.idunidad.idcentro.nombrecentro}}</td></tr>
            <tr><th>Unidad administrativa:</th><td>{{refrenda.idunidad.nombreunidad}} </td></tr>
            <tr><th>Nombre del jefe inmediato:</th><td>{{jefe.idexpediente.idsolicitudempleo.nombrecompleto}}</td></tr>
            <tr><th>Puesto:</th><td>{{refrendajefe.idplaza.nombreplaza}}</td></tr>
            <tr><th>Periodo:</th><td>
                {% if evaluacion.semestre == 'I' %} 
                Primer Semestre {{evaluacion.anoevaluado}} 
                {% else %}
                Segundo Semestre {{evaluacion.anoevaluado}} 
                {% endif %}
            </td></tr>
            
        </table>

<br>



        <h4>II. EVALUACIÓN GENERAL POR PARTE DEL JEFE INMEDIATO</h4>

    {% for factor in formulario.factores %}
    <table border="2" class="table-bordered tablaformularioeval">
        <tr><th colspan="{{factor.opciones|length}}" class="text-center"><b>{{ factor.nombrefactor}}</b></th></tr>
        <tr><td colspan="{{factor.opciones|length}}">  <p class="justifyText"> {{factor.descripcionfactor}} </p> </td></tr>
        </tr>
        <tr>
            {% set indice = loop.index %}
        {% for opcion in factor.opciones %}
        <td class="text-center" width="{{100 / (factor.opciones|length)}}%"> <input type="radio" name="respuesta-{{indice}}" required="required" value="{{factor.id}}-{{opcion.id}}"/> &nbsp;<b>{{opcion.nombreopcion}} </b></td>
        {% endfor %}
        </tr>
        <tr>
        {% for opcion in factor.opciones %}
        <td><p class="justifyText opcionformulario">{{opcion.descripcionopcion}}</p></td>
        {% endfor %}
        </tr>
    </table>
    <br>
    <br>
    {% endfor %}

<div class="hide">    

    {{form_row(form.fecharealizacion)}}
    {{form_row(form.anoevaluado)}}
    {{form_row(form.semestre)}}
    {{form_row(form.puestoemp)}}
    {{form_row(form.idempleado)}}
    {{form_row(form.idjefe)}}
    {{form_row(form.puestojefe)}}
    <input type="hidden" name="numfactores" value="{{formulario.factores|length}}"/>
</div>



 Tiempo de supervisar al empleado:  {#<input type="text" name="supervisa" id="supervisa" size="100" required="required"/>#}
 <select name="supervisa" id="supervisa" required="required">
    {% for t in tiempo %}
    <option value="{{t}}">{{t}}</option>
    {% endfor %}
 </select>
<br>
    Comentarios: &nbsp;&nbsp;&nbsp;
    <textarea rows="3" cols="100" required="required" name="comentario" id="comentario"></textarea> 

<br><br>
    
    {{ form_rest(form) }}
        <p>
            <div class="text-center">
            <button type="submit" class="btn btn-primary" >Guardar</button>
            <button type="button" class="btn" onclick="location.href='{{path('evaluacion_seleccionempleado', {'idrefrenda':refrendajefe.id})}}'">Cancelar</button>
            </div>
        </p>
    </form>

<style>
    textarea {
        width:70%;
    }
</style>

<script type='text/javascript'>
    $(document).ready(function(){
    $('#supervisa').prop("selectedIndex",-1);
    });//ready

    function borrafecha(){
        $('#fechacargofuncion').val("");
    }
</script>
{% endblock %}
