{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<div class="text-center">

<h4>SELECCIÓN DE PUESTO PARA EVALUAR EMPLEADOS</h4>
</div>

Datos Generales:
<table class="table table-bordered table-hover mitable tablachica" >
	<tr>
		<th>Código: </th>
		<td>{{empleado.codigoempleado}}</td>
	</tr>
	<tr>
		<th width="25%">Nombre: </th>
		<td>{{empleado.idexpediente.idsolicitudempleo.nombrecompleto}}</td>
	</tr>
</table>

Puestos en la actualidad:
{% if numpuestos == 0 %}
<b>No tiene asignado ningún puesto</b>
{% else %}

<table class="table table-bordered table-hover mitable">
	<tr>
		<th width="40%">Plaza</th><th width="40%">Unidad</th><th width="10%">Seleccionar</th>
	</tr>
	{% for puesto in empleado.idrefrenda %}
	<tr>
		<td>{{ puesto.idplaza.nombreplaza }}</td>
		<td>{{puesto.idunidad.nombreunidad}} <br>({{puesto.idunidad.idcentro.nombrecentro}})</td>
		<td><a href="{{path('evaluacion_seleccionempleado', {'idrefrenda':puesto.id})}}">Seleccionar</a></td>
	</tr>
{% endfor %}
</table>
{% endif %}

<div class="text-center">
<button type="button" class="btn" onclick="location.href='{{path('hello_page')}}'"> Cancelar </button>
</div>

{% endblock %}