{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<table class="table table-bordered table-hover">
    <tr>
        <th width="20%">Empleado: </th><td>{{evaluacion.idempleado.idexpediente.idsolicitudempleo.nombrecompleto}}</td>
    </tr>
    <tr>
        <th>Puesto: </th><td>{{puestoemp.idplaza.nombreplaza}}</td>

    </tr>
</table>

<h4> III. RESULTADO DE EVALUACIÓN </h4>

    <div class="text-center">
        <br>

        <b>TABLA DE VALORACIÓN</b>
        {% set puntuacion = 0 %}
        <br>

        <table class="table-bordered table-hover mitable table">
            <tr>
                <th width="70%">FACTOR </th><th width="15%"> RESPUESTA </th><th width="15%"> <b class="centerColum">VALORACIÓN </b></th>
            </tr>
        {% for respuesta in evaluacion.Respuestas %}
        <tr>
            <td>{{loop.index}}. {{respuesta.idfactor.nombrefactor}}</td><td> <div class="centerColum">{{respuesta.idopcion.nombreopcion}} </div></td><td><div class="centerColum">{{respuesta.idopcion.valoropcion}}</div></td>
        </tr>
          {% set puntuacion = puntuacion + respuesta.idopcion.valoropcion %}
            
            {% if loop.last %}
                <tr><td></td><td><div class="centerColum"><b>PUNTUACIÓN: </b></div> </td><td><div class="centerColum"><b>{{puntuacion}}</b></div></td></tr>
            {% endif %}
        {% endfor %}       

        </table>
    </div>

    <div class="text-center">
    <b>CALIFICACIÓN POR PUNTOS Y POR RANGOS</b>
    {% set calificacion = "" %}

            <table class="table-bordered table-hover mitable centered-table" width="50%">
                <tr>
                    <th>Calificación</th><th>Puntuación</th>
                </tr>
            
                {% for puntaje in evaluacion.Respuestas[0].idfactor.idformulario.Puntajes %}
                    <tr>
                        <td>{{puntaje.nombrepuntaje}}</td><td>de {{puntaje.puntajemin}} a {{puntaje.puntajemax}}</td>
                    </tr>
                        {% if puntuacion >= puntaje.puntajemin and puntuacion <= puntaje.puntajemax %}
                        {% set calificacion = puntaje.nombrepuntaje %}
                        {% endif %}

                {% endfor %}
            </table>

<br>
            Con base a la evaluaci&oacute;n realizada el empleado merece una calificación de:
            <h3>{{ calificacion|upper }}</h>
    </div>

    <table class="table table-centered table-hover table-bordered">
        <tr>
            <th width="35%">Tiempo de supervisar al empleado: </th><td>{{evaluacion.tiemposupervisar}}</td>
        </tr>
        <tr>
            <th>Comentario brindado: </th><td>{{evaluacion.comentario}}</td>
        </tr>
    </table>


<br>

<div class="text-center">
    {#
<b>¿Registrar Incidentes cr&iacute;ticos?</b>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SI <input type="radio" name="registra_incidente"  required="required" value="SI"/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO <input type="radio" name="registra_incidente"  required="required" value="NO"/>
<br><br>
#}
<input type="button" value="Registrar Incidentes" class="btn " name="incidente" id="incidente"  onclick="location.href='{{path('evaluacion_finaliza',{'id':evaluacion.id})}}'"/>
{# <input type="button" value="Aceptar" class="btn " name="noincidente" id="noincidente" onclick="location.href='{{path('evaluacion')}}'"/> #}
<input type="button" onclick="reporte();" value="Generar PDF" class="btn" />
<input type="button" value="Cancelar" class="btn" onclick="location.href='{{path('evaluacion')}}'" />
</div>

<form action="{{ path('reporte_evaluacion') }}"  id="form_eval" method="post">
  <input type="hidden" name='idevaluacion' id='idevaluacion' value={{evaluacion.id}} />
  <input type="hidden" name='calificacion' id='calificacion' value="{{calificacion}}" />
</form>

<script>
/*
$(document).ready(function(){
 
    $('#incidente').hide();
    $('#noincidente').hide();
 
 // Si se regresa a la pagina por medio de cache
  if($("input[name='registra_incidente']:checked").val()=="SI")
        {
        $('#incidente').show();    
        $('#noincidente').hide();
        }
        if($("input[name='registra_incidente']:checked").val()=="NO")
        {
        $('#incidente').hide();    
        $('#noincidente').show();
        }

    // si se cambia de opcion en la pagina
    $("input[name='registra_incidente']").change(function(){
        if($("input[name='registra_incidente']:checked").val()=="SI")
        {
        $('#incidente').show();    
        $('#noincidente').hide();
        }
        if($("input[name='registra_incidente']:checked").val()=="NO")
        {
        $('#incidente').hide();    
        $('#noincidente').show();
        }
        });//change
    });
*/
 function reporte() {
   document.getElementById('form_eval').submit();
 }
</script>

{% endblock %}
