{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('msg') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('msg-error') %}
    <div class="alert alert-danger">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

<h3 class="text-center">Registrar factores de evaluaci&oacute;n</h3>

<b>Datos Generales:</b>
    <table class="table table-bordered table-hover mitable">
        <tbody>
            <tr>
                <th width="30%">T&iacute;tulo del formulario: </th>
                <td>{{ fevaluacion.tipoformulario }}</td>
            </tr>
            <tr>
                <th>C&oacute;digo de formulario: </th>
                <td>{{ fevaluacion.codigoformulario }}</td>
            </tr>
            <tr>
                <th>Nombre del personal a evaluar: </th>
                <td>{{ fevaluacion.nombrebreve }}</td>
            </tr>
        </tbody>
    </table>

        {% if fevaluacion.factores|length > 0 %}
            <b>Factores registrados:</b>
            <table border="0" class="table-centered">
                {% for factor in fevaluacion.factores %}
                    <tr><td width="80%"> {{loop.index}}. {{factor.nombrefactor}} </td> <td align="center"> <a href="{{path('factorevaluacion_showfactor',{'id':factor.id})}}" title="{{factor.nombrefactor}}">Consultar/Editar</a></td></tr>
                {% endfor %}
            </table>
                <br>
        {% endif %}
        <hr>
        <b> NUEVO FACTOR DE EVALUACI&Oacute;N:</b>
                
	<form action="{{ path('factorevaluacion_createfactor', { 'id': fevaluacion.id }) }}" method="post" {{ form_enctype(form) }}>


		<table class="table table-bordered mitable">
			<tr>
				<th>{{form_label(form.nombrefactor)}}</th><td>{{form_widget(form.nombrefactor)}} {{form_errors(form.nombrefactor)}}</td>
			</tr>
			<tr>
				<th>{{form_label(form.descripcionfactor)}}</th><td>{{form_widget(form.descripcionfactor)}} {{form_errors(form.descripcionfactor)}}</td>
			</tr>
		</table>

        <b>OPCIONES:</b>
        <table class="table-bordered mitable table" align='right'>
        	<tr>
        		<th>{{form_label(form.Opciones[0].nombreopcion)}}</th>
        		<th>{{form_label(form.Opciones[0].descripcionopcion)}}</th>
        		<th>{{form_label(form.Opciones[0].valoropcion)}}</th>
        	</tr>
        	<tr>
        		<td>{{form_widget(form.Opciones[0].nombreopcion)}} {{form_errors(form.Opciones[0].nombreopcion)}}</td>
        		<td>{{form_widget(form.Opciones[0].descripcionopcion)}} {{form_errors(form.Opciones[0].descripcionopcion)}}</td>
        		<td>{{form_widget(form.Opciones[0].valoropcion)}} {{form_errors(form.Opciones[0].valoropcion)}}</td>
        	</tr>
        </table>
<br>

        <ul class="Opciones unstyled" data-prototype="
                <table class='table-bordered table mitable' align='right'>
        	<tr>
        		<th>{{form_label(form.Opciones.vars.prototype.nombreopcion)|e}}</th>
        		<th>{{form_label(form.Opciones.vars.prototype.descripcionopcion)|e}}</th>
        		<th>{{form_label(form.Opciones.vars.prototype.valoropcion)|e}}</th>
        	</tr>
        	<tr>
        		<td>{{form_widget(form.Opciones.vars.prototype.nombreopcion)|e}} {{form_errors(form.Opciones.vars.prototype.nombreopcion)|e}}</td>
        		<td>{{form_widget(form.Opciones.vars.prototype.descripcionopcion)|e}} {{form_errors(form.Opciones.vars.prototype.descripcionopcion)|e}}</td>
        		<td>{{form_widget(form.Opciones.vars.prototype.valoropcion)|e}} {{form_errors(form.Opciones.vars.prototype.valoropcion)|e}}</td>
        	</tr>
        </table>">

           {% if form.Opciones|length > 1 %}

           cantidad: {{form.Opciones|length}}
                {% for opcion in form.Opciones %}
                 {% if loop.index0 > 0 %}
                    <li>
                        <table class="table-bordered mitable table" align='right'>
                            <tr>
                                <th>{{form_label(opcion.nombreopcion)}}</th>
                                <th>{{form_label(opcion.descripcionopcion)}}</th>
                                <th>{{form_label(opcion.valoropcion)}}</th>
                            </tr>
                            <tr>
                                <td>{{form_widget(opcion.nombreopcion)}} {{form_errors(opcion.nombreopcion)}}</td>
                                <td>{{form_widget(opcion.descripcionopcion)}} {{form_errors(opcion.descripcionopcion)}}</td>
                                <td>{{form_widget(opcion.valoropcion)}} {{form_errors(opcion.valoropcion)}}</td>
                            </tr>
                        </table>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
           </ul>

{{form_rest(form)}}

 		<div class="text-center">
            <button type="submit" class="btn">Registrar</button>
            <a href="{{ path('formularioevaluacion_show', {'id':fevaluacion.id}) }}" class="btn" >Cancelar</a>    
        </div>
	</form>


<script>

/*********************************** Datos de Empleo ****************************************/
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderOpc = $('ul.Opciones');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkOpc = $('<input type="button" value="Agregar Opcion" class="btn">');
var $newLinkLiOpc = $('<ul></ul>').append($addTagLinkOpc);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderOpc.append($newLinkLiOpc);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderOpc.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderOpc.data('index', collectionHolderOpc.find(':input').length);

    $addTagLinkOpc.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderOpc, $newLinkLiOpc);
    });
 });

</script>

 <style type="text/css">
 
    input[type="number"],
  .uneditable-input {
  border: 0px;
  height: 15px;
  -webkit-box-shadow: inset 0 0px 0px 0px;
     -moz-box-shadow: inset 0 0px 0px 0px;
          box-shadow: inset 0 0px 0px 0px;
}

input[type="number"]:focus,
  .uneditable-input {
  -webkit-box-shadow: inset 0 0px 0px 0px, 0 0 0px 0px;
     -moz-box-shadow: inset 0 0px 0px 0px, 0 0 0px 0px;
          box-shadow: inset 0 0px 0px 0px, 0 0 0px 0px;
}

input[readonly],
.spinner
{
  background-color: #ffffff;
}

.tabla-corta
{
width:55%;
}
</style>

{% endblock %}