{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/Licencia:registro.html.twig')}}

    {% for flashMessage in app.session.flashbag.get('new') %}
        <div class="alert alert-success">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('errornew') %}
        <div class="alert alert-danger">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    <br>
    {% for plaza in plazas %}
    <h4 class="text-center">Control Interno de Permisos</h4>
    {% for exp in expediente %}
        <form action="{{ path('licencia_create',{'id' : exp.id, 'idc' : plaza.id}) }}" id="licencia_form" method="post" {{ form_enctype(form) }}>

        <table class='table table-bordered table-hover mitable' border='1' width='100%' align='center'>    
          <tr>        
            <th width="20%">{{ form_label(form.fechapermiso) }}</th>
            <td colspan="5">{{ form_widget(form.fechapermiso) }}</td>

          </tr>
          <tr>
            <th>Nombre empleado: </th>
            <td colspan="5">{{ exp.nombrecompleto }}</td>
          </tr>
          <tr>
            <th>Codigo: </th>
            <td>{{ exp.codigoempleado }}</td>
            <th>Partida: </th>
            <td></td>
            <th>Subpartida: </th>
            <td></td>
          </tr>
        
            <tr>
                <th>Puesto: </th>
                <td colspan="5">{{ plaza.nombreplaza }}</td>
            </tr>
            <tr>
                <th>Centro/Unidad: </th>
                <td colspan="5">{{ plaza.nombrecentro }}</td>
            </tr>
        
            <tr>
                <th>N° de Tarjeta</th>
                <td colspan="5"></td>
            </tr>     
        </table>

        
            {#{ form_widget(form) }#}
        <table class='table table-bordered table-hover mitable' border='1' width='100%' align='center'>
            <tr>
                <th>{{ form_label(form.concepto) }}</th>
                <td colspan='3'>
                    <table width='100%' border='0'>
                        <tr>
                        {% for child in form.concepto %}
                            <td style="border:0px">
                                <span style="position:relative;top:-4px; left:-4px">{{ form_widget(child) }}</span> {{ child.vars.label }}
                            </td>               
                        {% endfor %}        
                        </tr>
                    </table>        
                </td>
            </tr>        
            <tr>
                <th>{{ form_label(form.congoce) }}</th>
                <td colspan='3'>{{ form_widget(form.congoce) }}</td>
            </tr>
            <tr>
                <th>Periodo de Tiempo</th>
                <td colspan='3'>
                    Dias: <input type='radio' checked='checked' name='periodo' id='dias' value='dias'>
                    Horas: <input type='radio' name='periodo' id='horas' value='horas'>
                </td>
            </tr>        
            <tr>
                <th>{{ form_label(form.fechainiciolic) }}</th>
                <td>{{ form_widget(form.fechainiciolic) }}{{form_errors(form.fechainiciolic)}}</td>
                <th>{{ form_label(form.horainiciolic) }}</th>
                <td>{{ form_widget(form.horainiciolic) }}{{form_errors(form.horainiciolic)}}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.fechafinlic) }}</th>
                <td>{{ form_widget(form.fechafinlic) }}{{form_errors(form.fechafinlic)}}</td>
                <th>{{ form_label(form.horafinlic) }}</th>
                <td>{{ form_widget(form.horafinlic) }}{{form_errors(form.horafinlic)}}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.duraciondias) }}</th>
                <td>{{ form_widget(form.duraciondias) }}{{form_errors(form.duraciondias)}}</td>
                <th>{{ form_label(form.duracionhoras) }}</th>
                <td>{{ form_widget(form.duracionhoras) }}{{form_errors(form.duracionhoras)}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>{{ form_label(form.duracionminutos) }}</th>
                <td>{{ form_widget(form.duracionminutos) }}{{form_errors(form.duracionminutos)}}</td>
            </tr>
        </table>
    {% endfor %}    
    {% endfor %}
    {{ form_rest(form) }}
    <div class='text-center'>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a  href="{{ 
                path('licencia_registrar'                        
                    )
                }}" class="btn">Cancelar</a>
    <div>
</form>
<script type="text/javascript">
$( document ).ready(function() {
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionminutos").attr("disabled","disabled");        
    $("#dias").click(function(){
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").removeAttr("disabled");        

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionminutos").attr("disabled","disabled");  
        //quiatamos y agregamos nuevos requiered
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").attr("data-bvalidator","required,number");        

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").removeAttr("data-bvalidator");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").removeAttr("data-bvalidator");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionminutos").removeAttr("data-bvalidator");


    });
    $("#horas").click(function(){
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").attr("disabled","disabled");            
        
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").removeAttr("disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").removeAttr("disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionminutos").removeAttr("disabled");
        //quitamos y asigmanos nuevos required
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").removeAttr("data-bvalidator");        

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("data-bvalidator","required");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").attr("data-bvalidator","required,number");        
        //$("#sigesrhi_expedientebundle_licenciatype_duracionminutos").attr("data-bvalidator","required,number");
    });

    $('.date2').datepicker({ 
        dateFormat: 'dd-mm-yy',  
        changeMonth: true,
        changeYear: true,
        minDate: "-3M", maxDate: "+3M"});
});

</script>
    
{% endblock %}
