{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
<script type="text/javascript">
//Funcion que ejecuta calcula los dias segun las fechas ingresadas
function calculaduraciondias(){
  var fechai = document.getElementById("sigesrhi_expedientebundle_licenciatype_fechainiciolic").value;
  var fechaf = document.getElementById("sigesrhi_expedientebundle_licenciatype_fechafinlic").value;
  if(fechaf!= "" && fechai != ""){
    if(fechaf>fechai){
        var dias = calculadias(fechaf,fechai);       
        document.getElementById("sigesrhi_expedientebundle_licenciatype_duraciondias").value=dias;
    }
    else{
        document.getElementById("sigesrhi_expedientebundle_licenciatype_duraciondias").value="";
    }
  }
} 
//Funcion que ejecuta calcula las horas
function calculaduracionhoras(){
    var horai = document.getElementById("sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").value;
    var mini = document.getElementById("sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").value;
    var horaf = document.getElementById("sigesrhi_expedientebundle_licenciatype_horafinlic_hour").value;
    var minf = document.getElementById("sigesrhi_expedientebundle_licenciatype_horafinlic_minute").value;
    if(horai!= "" && horaf != "" && mini != "" && minf != ""){
        if(parseInt(horaf) > parseInt(horai)){            
                var horaicompleta = horai+":"+mini+":00";
                var horafcompleta = horaf+":"+minf+":00";
                alert(horaicompleta+horafcompleta);
                var difhora=calcular(horafcompleta,horaicompleta).split(":");
                 document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionhoras").value=difhora[0];
                 document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionminutos").value=difhora[1];
        }
        else if(horaf == horai){            
            if(parseInt(minf) > parseInt(mini)){
                var horaicompleta = horai+":"+mini+":00";
                var horafcompleta = horaf+":"+minf+":00";
                alert(horaicompleta+horafcompleta);
                var difhora=calcular(horafcompleta,horaicompleta).split(":");
                document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionhoras").value=difhora[0];       
                document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionminutos").value=difhora[1];
            }
            else{
                document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionhoras").value="";
                document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionminutos").value="";
            }
        }
        else{
            document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionhoras").value="";
            document.getElementById("sigesrhi_expedientebundle_licenciatype_duracionminutos").value="";
        }
    }
}
</script>
    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/Licencia:registro.html.twig')}}

    {% for flashMessage in app.session.flashbag.get('new') %}
        <div class="alert alert-success">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('errornew') %}
        <div class="alert alert-danger">
            <p> {{ flashMessage }} </p>
        </div>
    {% endfor %}
    <br>
    {% for plaza in plazax %}
    <h3 class="text-center">Control Interno de Permisos</h3>
    {% for exp in expediente %}
        <form action="{{ path('licencia_create',{'id' : exp.id, 'idc' : plaza.id}) }}" id="licencia_form" method="post" {{ form_enctype(form) }}>

        <table class='table table-bordered table-hover mitable' border='1' width='100%' align='center'>    
          <tr>        
            <th width="20%">Fecha Registro:</th>
            <td colspan="5"><b>{{ entity.fechapermiso|date('d-m-Y') | fecha }}</b></td>

          </tr>
          <tr>
            <th>Nombre empleado: </th>
            <td colspan="5">{{ exp.nombrecompleto }}</td>
          </tr>
          <tr>
            <th>Codigo: </th>
            <td>{{ exp.codigoempleado }}</td>
            <th>Partida: </th>
            <td>{{ exp.partida }}</td>
            <th>Subpartida: </th>
            <td>{{ exp.subpartida }}</td>
          </tr>
        
            <tr>
                <th>Puesto: </th>
                <td colspan="5">{{ plaza.nombreplaza }}</td>
            </tr>
            <tr>
                <th>Centro/Unidad: </th>
                <td colspan="5">{{ plaza.nombrecentro }}</td>
            </tr>
        
            <tr>
                <th>N° de Tarjeta:</th>
                <td colspan="5"></td>
            </tr>     
            <tr>
                <th>Permisos del mes:</th>
                <td colspan="5"><b>
                    {% if totales.tdias !='' %}
                        {{ totales.tdias }}
                    {% else %}
                        0
                    {% endif %}
                    (dias)
                    {% if totales.thoras !='' %}
                        {{ totales.thoras }}
                    {% else %}
                        0
                    {% endif %}
                    (horas)</b></td>
            </tr>
        </table>

        
            {#{ form_widget(form) }#}
        <table class='table table-bordered table-hover mitable' border='1' width='100%' align='center'>
            <tr>
                <th width="20%">{{ form_label(form.concepto) }}</th>
                <td colspan='3'>
                    <table width='100%' border='0'>
                        <tr>
                        {% for child in form.concepto %}
                            <td style="border:0px">
                                <span style="position:relative;top:-4px; left:-4px">{{ form_widget(child) }}</span> {{ child.vars.label }}
                            </td>               
                        {% endfor %}        
                        </tr>
                    </table>        
                </td>
            </tr>        
            <tr>
                <th>{{ form_label(form.congoce) }}</th>
                <td colspan='3'>{{ form_widget(form.congoce) }}</td>
            </tr>
            <tr>
                <th>Periodo de Tiempo</th>
                <td colspan='3'>
                    Dias: <input type='radio' checked='checked' name='periodo' id='dias' value='dias'>
                    Horas: <input type='radio' name='periodo' id='horas' value='horas'>
                </td>
            </tr>        
            <tr>
                <th>{{ form_label(form.fechainiciolic) }}</th>
                <td>{{ form_widget(form.fechainiciolic) }}{{form_errors(form.fechainiciolic)}}</td>
                <th width="23%">{{ form_label(form.horainiciolic) }}</th>
                <td width="20%">{{ form_widget(form.horainiciolic) }}{{form_errors(form.horainiciolic)}}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.fechafinlic) }}</th>
                <td>{{ form_widget(form.fechafinlic) }}{{form_errors(form.fechafinlic)}}</td>
                <th>{{ form_label(form.horafinlic) }}</th>
                <td>{{ form_widget(form.horafinlic) }}{{form_errors(form.horafinlic)}}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.duraciondias) }}</th>
                <td>{{ form_widget(form.duraciondias) }}{{form_errors(form.duraciondias)}}</td>
                <th>{{ form_label(form.duracionhoras) }}</th>
                <td>{{ form_widget(form.duracionhoras) }}{{form_errors(form.duracionhoras)}}</td>
            </tr>
            <tr>
                <td></td>
                <td style="border-lef:0px"></td>
                <th>{{ form_label(form.duracionminutos) }}</th>
                <td>{{ form_widget(form.duracionminutos) }}{{form_errors(form.duracionminutos)}}</td>
            </tr>
        </table>
    {% endfor %}    
    {% endfor %}
    {{ form_rest(form) }}
    <div class='text-center'>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a  href="{{ 
                path('licencia_registrar'                        
                    )
                }}" class="btn">Cancelar</a>
    <div>
</form>
<script type="text/javascript">
$( document ).ready(function() {
        //$("#sigesrhi_expedientebundle_licenciatype_fechapermiso").removeClass("hasDatepicker date");
        //añadimos los onchange para calcular los dias y horas
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").attr("onChange","calculaduraciondias()");  
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").attr("onChange","calculaduraciondias()");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("onChange","calculaduracionhoras()");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("onChange","calculaduracionhoras()");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("onChange","calculaduracionhoras()");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("onChange","calculaduracionhoras()");        


        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("disabled","disabled");        

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").val("");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").val("");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").val("");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").val("");               
    $("#dias").click(function(){
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").removeAttr("disabled");      

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("disabled","disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("disabled","disabled");        

        //quiatamos y agregamos nuevos requiered
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").attr("data-bvalidator","required,number");        

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").removeAttr("data-bvalidator");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").removeAttr("data-bvalidator");        
        $("#sigesrhi_expedientebundle_licenciatype_duracionminutos").removeAttr("data-bvalidator");

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").removeAttr("data-bvalidator");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").removeAttr("data-bvalidator");     
      
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").val("");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").val("");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").val("");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").val("");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").val(""); 
        $("#sigesrhi_expedientebundle_licenciatype_duracionminutos").val("");  
    });
    $("#horas").click(function(){
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").attr("disabled","disabled");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").attr("disabled","disabled");
        
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").removeAttr("disabled");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").removeAttr("disabled");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").removeAttr("disabled");

        //quitamos y asigmanos nuevos required
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").removeAttr("data-bvalidator");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").removeAttr("data-bvalidator");        

        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_hour").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_horainiciolic_minute").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_hour").attr("data-bvalidator","required");        
        $("#sigesrhi_expedientebundle_licenciatype_horafinlic_minute").attr("data-bvalidator","required");
        $("#sigesrhi_expedientebundle_licenciatype_duracionhoras").attr("data-bvalidator","required,number");        
        
        $("#sigesrhi_expedientebundle_licenciatype_fechainiciolic").val("");
        $("#sigesrhi_expedientebundle_licenciatype_fechafinlic").val("");
        $("#sigesrhi_expedientebundle_licenciatype_duraciondias").val("");
    });

    $('.date2').datepicker({ 
        dateFormat: 'dd-mm-yy',  
        changeMonth: true,
        changeYear: true,
        minDate: "-3M", maxDate: "+3M"});
});

</script>

<style type="text/css">
    .help-inline{
        color: rgb(185, 74, 72); 
        }
</style>
    
{% endblock %}
