{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Cargar Refrenda</h3>
<p>Esta ventana permite cargar anualmente los datos de refrenda de los empleados del Instituto Salvadore&ntilde;o de Rehabilitación Integral. </p>
{% endblock %}


{% block contenido %}
<p><h4>¿Cómo cargar la Refrenda?</h4></p>
<p>Para una carga exitosa, tome en cuenta los siguientes pasos y consideraciones:</p><br>
<ul style="list-style-type:decimal; margin-left:25px">
	<li>Presionar el bot&oacute;n "Examinar" y selecionar el archivo que contiene los datos de refrenda, el formato (.CSV) del archivo es obligatorio para realizar este proceso.<li>
El archivo a cargar debe contener los siguientes campos estrictamente ordenados de la siguiente forma:<br>
	<ul style="list-style-type:decimal; margin-left:35px">
		<li>c&oacute;digo</li>
		<li>partida</li>
		<li>subpartida</li>
		<li>nombre de empleado</li>
		<li>plaza</li>
		<li>salario</li>
		<li>centro de atenci&oacute;n</li>
		<li>salario m&iacute;nimo</li>
		<li>salario m&aacute;ximo</li>
		<li>linea presupuestaria</li>
		<li>c&oacute;digo linea presupuestaria</li>
		<li>tipo de contrataci&oacute;n (indicando ls: por ley de salario y c: por contrato)</li>
	</ul><br>
	<li>Este proceso de carga debe realizarse una vez al año. Si ya fue cargada una refrenda para un año en espec&iacute;fico y se intenta cargar nuevamente, el sistema despliega el siguiente mensaje:</li>
	<img src="{{asset('images/images_ayuda/refrenda_errorcargar.jpg') }}" alt="ISRI"/><br>
	<div class="justifyText">El sistema no permite la carga de una refrenda que no corresponde al año vigente presentando el siguiente mensaje:</div>
	<img src="{{asset('images/images_ayuda/refrenda_error1.jpg') }}" alt="ISRI"/><br>
	<br><li>Los nombres de las plazas inclu&iacute;das en el archivo refrenda, deber&aacute;n coincidir con los nombres de las plazas almacenadas en el sistema (Manual de puestos del ISRI).</li>
	<div class="justifyText">Si las plazas difieren, el proceso de carga se cancela y muestra un mensaje como el siguiente: </div>
	<img src="{{asset('images/images_ayuda/refrenda_inconsistencia.jpg') }}" alt="ISRI"/><br>
	<div class="justifyText">El mensaje anterior indica que  el nombre de la plaza que se intenta cargar (SECRETARIA) difiere con el nombre de la plaza inclu&iacute;da en el manual de puestos (SECRETARIA II). Para solventar este problema, es necesario cambiar  el nombre de la plaza que est&aacute; creando conflicto desde la administraci&oacute;n del sistema (SIGESRHI).</div>
	<div class="justifyText"><b>Nota: </b>Este tipo de mensaje aparecer&aacute; mientras existan inconsistencias entre datos</div><br>
	<div class="justifyText">Se cancelar&aacute; el proceso de carga de la refrenda, si hay inconsistencias con la informaci&oacute; registrada del empleado, el mensaje que el sistema para este tipo de caso es el siguiente:</div>
	<img src="{{asset('images/images_ayuda/refrenda_errorcontrato.jpg') }}" alt="ISRI"/><br>
	<div class="justifyText">El mensaje anterior aparecer&aacute; cuando en la refrenda a cargar, un empleado tenga una contrataci&oacute;n que aun no ha sido registrada en el sistema, para solventar este problema, primero debe registrar la contrataci&oacute;n y luego continuar con el proceso de carga de la refrenda. </div>
	<li>Si la carga de refrenda no presenta inconsistencias, el sistema muestra el mensaje de refrenda cargada exitosamente:</li><br>
	<img src="{{asset('images/images_ayuda/refrenda_exitosa.jpg') }}" alt="ISRI"/><br>
</ul>
<br><br>
{% endblock %}