{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Incidente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechaincidente</th>
                <td>{{ entity.fechaincidente|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tipoincidente</th>
                <td>{{ entity.tipoincidente }}</td>
            </tr>
            <tr>
                <th>Descripcionincidente</th>
                <td>{{ entity.descripcionincidente }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('incidente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('incidente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('incidente_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
