{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{{ form_javascript(form) }}

<form action="{{ path('concurso_memo',{'id':entity.id,'tipo':2}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal">
    
    <h3 class="text-center"> Datos para memorándum de cierre de concurso</h3>
    <br />
       
      {{form_row(form.empleado)}}
      {{form_row(form.cargo)}}

      {{form_rest(form)}}

      <div class="text-center">
        {% if entity.numeroacta is null %}
        <p class="text-error">Debe generar el acta antes de generar el memorándum</p>
        {% else %}
         <button type="submit" class="btn btn-primary">Generar</button>
         {% endif %}
         <a href="{{ path('detalle_concurso',{'id':entity.id}) }}"  class="btn">Cancelar</a>
      </div>

    </form>
    <script>
// Completar cargo

    $(document).ready(function(){

        $('#sigesrhi_expedientebundle_memocierretype_empleado').change(function(){
           $.getJSON('consultarCargosJSON?idempleado='+$('#sigesrhi_expedientebundle_memocierretype_empleado').val(),
             function(data){
                var i=0;
                $.each(data, function(key, val){
                    if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#sigesrhi_expedientebundle_memocierretype_cargo').val(registro['cell'][1]);
                        });

                    }

                });

             });


        });//#cargo
    });
</script>

    {% endblock %}