{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('aviso') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('edit') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

<script type='text/javascript'>
function eliminar() {

    if(confirm('\xbfEst\xE1 seguro que desea eliminar este registro?')) {
        document.getElementById('form_borrar').submit();
}
}
</script>
<h3 class="text-center">Datos de concurso</h3>
    <table class="table table-bordered table-hover">
            <tr>
                <th>Codigo concurso</th>
                <td>{{ entity.codigoconcurso }}</td>
            </tr>
            <tr>
                <th>Plaza en concurso</th>
                <td>{{ entity.idplaza }}</td>
            </tr>
            <tr>
                <th>Centro al que pertenece</th>
                <td>{{entity.idcentro}}</td>
            </tr>
            <tr>
                <th>Fecha de apertura</th>
                <td>{{ entity.fechaapertura|date('Y-m-d')|fecha }}</td>
            </tr>
            <tr>
                <th>Fecha de cierre</th>
                <td>{{ entity.fechacierre|date('Y-m-d')|fecha }}</td>
            </tr>
            <tr>
                <th>Destinatarios</th>
                <td>
                    {% if interesados == 'ca' %} 
                    Centros de atención
                    {% elseif interesados == 'as' %}
                    Administración superior
                    {% else %}
                    Todo el personal
                    {% endif %}
                </td>
            </tr>
    </table>
        


      <div class="text-center">
        <a href="{{ path('reporte_cartelconcurso',{'id':entity.id, 'interesados':interesados}) }}" class="btn btn-primary"> Generar cartel de concurso</a>
        <a href="{{ path('concurso_memo',{ 'id': entity.id, 'interesados':interesados }) }}" class="btn btn-primary"> Generar memorándum</a>
        <a href="{{ path('concurso_edit', { 'id': entity.id, 'interesados':interesados}) }}" class="btn">Editar</a>
        <a href="{{ path('concurso') }}" class="btn">Regresar al listado</a>
        <button type="button"  class="btn btn-danger" onclick="eliminar();">Borrar</button>
      </div>
        <form action="{{ path('concurso_delete', { 'id': entity.id }) }}" id="form_borrar" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <div class="invisible"> {{ form_widget(delete_form) }} </div>
        </form>      

{% endblock %}
