{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h1> Unidad Organizativa</h1>
    <br></br>
<fieldset>
    <legend>Editar unidad organizativa</legend>
    
    <form action="{{ path('unidadorganizativa_update', { 'id': entity.id }) }}" class="_form" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
       
            <button type="submit" class="submit">Guardar</button>
    </form> 
   <form action="{{ path('unidadorganizativa_delete', { 'id': entity.id }) }}" class="_form" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
       
            <button type="submit" class="submit">Eliminar</button>      
  </form> 
                    
</fieldset>
       <!-- <ul class="record_actions">-->
    <li>
        <a href="{{ path('unidadorganizativa') }}">
            Regresar
        </a>
    </li>
    <!--<li>
        <form action="{{ path('unidadorganizativa_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>-->
{% endblock %}
