{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h1>Unidadorganizativa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombreunidad</th>
                <td>{{ entity.nombreunidad }}</td>
            </tr>
            <tr>
                <th>Descripcionunidad</th>
                <td>{{ entity.descripcionunidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('unidadorganizativa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('unidadorganizativa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('unidadorganizativa_delete', { 'id': entity.id }) }}" class="_form" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
