{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
{{ include('EvaluacionBundle:Ayuda/Formulario:EditarFactor.html.twig')}}

<h3 class="text-center">Editar factores de evaluaci&oacute;n</h3>

<b>Datos Generales:</b>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th width="30%">T&iacute;tulo del formulario: </th>
                <td>{{ evaluacion.tipoformulario }}</td>
            </tr>
            <tr>
                <th>C&oacute;digo de formulario: </th>
                <td>{{ evaluacion.codigoformulario }}</td>
            </tr>
            <tr>
                <th>Nombre del personal a evaluar: </th>
                <td>{{ evaluacion.nombrebreve }}</td>
            </tr>
        </tbody>
    </table>


	<form action="{{ path('formularioevaluacion_update', { 'id': evaluacion.id }) }}" method="post" {{ form_enctype(form) }}>


		<table class="table table-bordered mitable">
			<tr>
				<th>{{form_label(form.nombrefactor)}}</th><td>{{form_widget(form.nombrefactor)}} {{form_errors(form.nombrefactor)}}</td>
			</tr>
			<tr>
				<th>{{form_label(form.descripcionfactor)}}</th><td>{{form_widget(form.descripcionfactor)}} {{form_errors(form.descripcionfactor)}}</td>
			</tr>
		</table>
        
        <table class="table-bordered mitable table mitable">
        	<tr>
        		<th>{{form_label(form.Opciones[0].nombreopcion)}}</th>
        		<th>{{form_label(form.Opciones[0].descripcionopcion)}}</th>
        		<th>{{form_label(form.Opciones[0].valoropcion)}}</th>
        	</tr>
        	<tr>
        		<td>{{form_widget(form.Opciones[0].nombreopcion)}} {{form_errors(form.Opciones[0].nombreopcion)}}</td>
        		<td>{{form_widget(form.Opciones[0].descripcionopcion)}} {{form_errors(form.Opciones[0].descripcionopcion)}}</td>
        		<td>{{form_widget(form.Opciones[0].valoropcion)}} {{form_errors(form.Opciones[0].valoropcion)}}</td>
        	</tr>
        </table>
<br>
        
        
        <ul class="Opciones unstyled" data-prototype="
                <table class='table-bordered mitable table mitable'>
        	<tr>
        		<th>{{form_label(form.Opciones.vars.prototype.nombreopcion)|e}}</th>
        		<th>{{form_label(form.Opciones.vars.prototype.descripcionopcion)|e}}</th>
        		<th>{{form_label(form.Opciones.vars.prototype.valoropcion)|e}}</th>
        	</tr>
        	<tr>
        		<td>{{form_widget(form.Opciones.vars.prototype.nombreopcion)|e}} {{form_errors(form.Opciones.vars.prototype.nombreopcion)|e}}</td>
        		<td>{{form_widget(form.Opciones.vars.prototype.descripcionopcion)|e}} {{form_errors(form.Opciones.vars.prototype.descripcionopcion)|e}}</td>
        		<td>{{form_widget(form.Opciones.vars.prototype.valoropcion)|e}} {{form_errors(form.Opciones.vars.prototype.valoropcion)|e}}</td>
        	</tr>
        </table>
               ">
           </ul>


 		<div class="text-center">
            <button type="submit" class="btn">Modificar</button>
            <a href="{{ path('formularioevaluacion_show', {'id':evaluacion.id}) }}" class="btn" >Cancelar</a>    
        </div>
	</form>


<script>

/*********************************** Datos de Empleo ****************************************/
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderOpc = $('ul.Opciones');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkOpc = $('<input type="button" value="Agregar Opcion" class="btn">');
var $newLinkLiOpc = $('<ul></ul>').append($addTagLinkOpc);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderOpc.append($newLinkLiOpc);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderOpc.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderOpc.data('index', collectionHolderOpc.find(':input').length);

    $addTagLinkOpc.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderOpc, $newLinkLiOpc);
    });
 });

</script>
{% endblock %}