{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Formularioevaluacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipoformulario</th>
                <th>Codigoformulario</th>
                <th>Nombrebreve</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formularioevaluacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipoformulario }}</td>
                <td>{{ entity.codigoformulario }}</td>
                <td>{{ entity.nombrebreve }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('formularioevaluacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('formularioevaluacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('formularioevaluacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
