{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('del') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

    <h3 class="text-center">Formularios de evaluaci&oacute;n </h3>

    {{ grid_search(grid) }} 
<br>
<div align="right">
        <b>Registrar Nuevo Formulario: </b>
        <a class="btn" onclick="location.href='{{path('formularioevaluacion_new')}}'" title="Registrar Nuevo Formulario"><div class="icon-plus-sign"></div></a>
</div>
{{ grid(grid,_self) }}  
<br>
{% block grid_filters %}{% endblock %} 

<div class="text-center">
<a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
</div>
    
        
    {% endblock %}
