{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
{{ include('EvaluacionBundle:Ayuda/Formulario:Registrar.html.twig')}}

    <h4 class="text-center">REGISTRO DE NUEVO FORMULARIO DE EVALUACI&Oacute;N</h4>

    <form action="{{ path('formularioevaluacion_create') }}" method="post" {{ form_enctype(form) }}>
       <br>

<p><b>Informaci&oacute;n general del formulario de evaluación: </b></p>
<br>
        <table class="table table-bordered form-inline">
            <tr>
                <th width="30%">{{form_label(form.tipoformulario)}}</th><td>{{form_widget(form.tipoformulario)}} {{form_errors(form.tipoformulario)}}</td>
            </tr>
            <tr>
                <th>{{form_label(form.codigoformulario)}}</th><td>{{form_widget(form.codigoformulario)}} {{form_errors(form.codigoformulario)}}</td>
            </tr>
            <tr>
                <th>{{form_label(form.nombrebreve)}}</th><td>{{form_widget(form.nombrebreve)}} {{form_errors(form.nombrebreve)}}</td>
            </tr>
        </table>

    <div class="hide">
        {{ form_rest(form) }}
    </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="button" onclick="location.href='{{path('formularioevaluacion')}}'" class="btn">Cancelar</button>
        </div>
    </form>

{% endblock %}
