{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<script type='text/javascript'>
function eliminar(ruta) {

        if(confirm('\xbfEsta seguro que desea eliminar este formulario de evaluación?')) {
            document.location.href=ruta;

            }
        }
</script>

    <h3 class="text-center">Formulario de evaluaci&oacute;n</h3>

    <table class="table table-bordered table-hover mitable">
        <tbody>
            <tr>
                <th>T&iacute;tulo del formulario: </th>
                <td>{{ entity.tipoformulario }}</td>
            </tr>
            <tr>
                <th>C&oacute;digo de formulario: </th>
                <td>{{ entity.codigoformulario }}</td>
            </tr>
            <tr>
                <th>Nombre del personal a evaluar: </th>
                <td>{{ entity.nombrebreve }}</td>
            </tr>
        </tbody>
    </table>

 {% for factor in entity.factores %}
    <table border="2" class="table-bordered" width="100%">
        <tr><th colspan="{{factor.opciones|length}}" class="text-center"><b>{{ factor.nombrefactor}}</b></th></tr>
        <tr><td colspan="{{factor.opciones|length}}">  <p class="justifyText"> {{factor.descripcionfactor}} </p> </td></tr>
        </tr>
        <tr>
            {% set indice = loop.index %}
        {% for opcion in factor.opciones %}
        <td class="text-center" width="{{100 / (factor.opciones|length)}}%"> &nbsp;<b>{{opcion.nombreopcion}} </b></td>
        {% endfor %}
        </tr>
        <tr>
        {% for opcion in factor.opciones %}
        <td><p class="justifyText opcionformulario">{{opcion.descripcionopcion}}</p></td>
        {% endfor %}
        </tr>
    </table>
    <br>
    <br>
    {% endfor %}

<br>

    <div class="text-center">
    <a href="{{ path('formularioevaluacion') }}" class="btn">Regresar al listado</a>
    <a href="{{ path('formularioevaluacion_edit', { 'id': entity.id }) }}" class="btn">Modificar</a>
    <a onclick="eliminar('{{path('formularioevaluacion_deshabilita', { 'id': entity.id })}}')" class="btn btn-danger">Eliminar</a>
    </div>
<br>    
    
{% endblock %}
