{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('msg') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

<script type='text/javascript'>
function eliminar(ruta) {

        if(confirm('\xbfEsta seguro que desea eliminar este formulario de evaluación?')) {
            document.location.href=ruta;

            }
        }
</script>

    <h3 class="text-center">CONSULTA DE FORMULARIO DE EVALUACI&Oacute;N</h3>

<b>Datos Generales:</b>
    <table class="table table-bordered table-hover mitable" width="40%">
        <tbody>
            <tr>
                <th>T&iacute;tulo del formulario: </th>
                <td>{{ entity.tipoformulario }}</td>
            </tr>
            <tr>
                <th>C&oacute;digo de formulario: </th>
                <td>{{ entity.codigoformulario }}</td>
            </tr>
            <tr>
                <th>Nombre del personal a evaluar: </th>
                <td>{{ entity.nombrebreve }}</td>
            </tr>
        </tbody>
    </table>

{% if entity.factores|length > 0 %}
   <b> Datos de Factores de Evaluaci&oacute;n:</b>
{% else %}
    <b>NO hay Factores de evaluací&oacute;n registrados</b>
    <br><br><br>
{% endif %}

 {% for factor in entity.factores %}
    <table border="2" class="table-bordered tablaformularioeval" width="100%" bgcolor="#8A889C">
        <tr><th colspan="{{factor.opciones|length}}" class="text-center"><b>{{ factor.nombrefactor}}</b></th></tr>
        <tr><td colspan="{{factor.opciones|length}}">  <p class="justifyText"> {{factor.descripcionfactor}} </p> </td></tr>
        </tr>
        <tr>
            {% set indice = loop.index %}
        {% for opcion in factor.opciones %}
        <td class="text-center" width="{{100 / (factor.opciones|length)}}%"> &nbsp;<b>{{opcion.nombreopcion}} </b></td>
        {% endfor %}
        </tr>
        <tr>
        {% for opcion in factor.opciones %}
        <td><p class="justifyText opcionformulario">{{opcion.descripcionopcion}}</p></td>
        {% endfor %}
        </tr>
    </table>
    <br>
    {% endfor %}


    <div class="text-center">
    <a href="{{ path('formularioevaluacion') }}" class="btn">Regresar al listado</a>
    <a href="{{path('reporte_formularioevaluacion', {'id':entity.id})}}" class="btn">Generar PDF </a>
    <a href="{{ path('formularioevaluacion_edit', { 'id': entity.id }) }}" class="btn">Editar Generales</a>
    <a href="{{ path('factorevaluacion_newfactor', { 'id': entity.id }) }}" class="btn">Editar Factores</a>
    <a onclick="eliminar('{{path('formularioevaluacion_deshabilita', { 'id': entity.id })}}')" class="btn btn-danger">Eliminar</a>
    </div>
<br>    

{% endblock %}
