{% extends '::PrincipalBase.html.twig' %}
{% block principal -%}

{% for flashMessage in app.session.flashbag.get('fos_user_success') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

<div class="sonata-user-edit-profile">

    <h3 class="text-center">Edición de perfil de usuario</h3><br/>

    {{ form_errors(form) }}

    {% form_theme form _self %}

    {% block field_row %}

        {# custom field row output #}
    {% endblock field_row %}

    <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">

        <fieldset>
            <legend>Datos de usuario</legend>
        <div class="control-group">
            {{ form_label(form.gender, 'Género', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.gender) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.firstname, 'Nombre', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.firstname) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.lastname, 'Apellido', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.lastname) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.website , 'Sitio Web', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.website) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.dateOfBirth, 'Fecha de nacimiento', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.dateOfBirth, {'attr': {'class': 'span1'}}) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.biography, 'Biografía', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.biography) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.locale, 'Localización', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.locale) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.timezone, 'Zona horaria', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.timezone) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.phone, 'Teléfono', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.phone) }}</div>
        </div>
       </fieldset>
        {{ form_rest(form) }}
        <br/>
        <div class="text-center">
          <input type="submit" name="submit" value="Modificar"  class="btn btn-primary"/>
          <a href="{{ path('hello_page') }}"  class="btn">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}
