{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<script>

jQuery(function() {

            jQuery("#grid_grid_solicitud_aspirante_edit__nombrecompleto__query__from").autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "aspirantes"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });


            jQuery("#grid_grid_solicitud_aspirante_edit__plazas__query__from").autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "plazas"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
});

</script>

<div class="text-center">
    <h3> Editar Datos de Solicitud </h3>
</div>


{{ grid_search(grid) }} 
<br>
{{ grid(grid,_self) }}  
<br>
{% block grid_filters %}{% endblock %} 

<div class="text-center">
<a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
</div>
 {% endblock %}