  {% extends '::base.html.twig' %}  

{# <script src="{{ asset('bundles/expediente/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script> #}
      
{% block body -%}

    <form action="{{ path('solicitud_create') }}" method="post" {{ form_enctype(form) }}>

        <fieldset><legend>Registrar Solicitud de Empleo</legend>
    <h1>Solicitud de Empleo</h1>

    <p> <b>Nota Importante:</b> La solicitud de empleo no implica compromiso por parte del ISRI con el interesado, solamente es un requisito indispensable que debe llenar toda persona que aspira a prestar sus servicios a la institución.</p>
       {# {{ form_widget(form) }}#}
            {{ form_row(form.fotografia) }}
            <fieldset>
                <legend>Datos Personales</legend>

                <table>
                <tr>
                    <td>{{ form_label(form.apellidocasada) }}</td>
                    <td>{{ form_label(form.primerapellido) }}</td>
                    <td>{{ form_label(form.segundoapellido) }}</td>
                    <td>{{ form_label(form.nombres) }}</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.apellidocasada) }} {{ form_errors(form.apellidocasada) }}</td>
                    <td>{{ form_widget(form.primerapellido) }} {{ form_errors(form.primerapellido) }}</td>
                    <td>{{ form_widget(form.segundoapellido) }} {{ form_errors(form.segundoapellido) }}</td>
                    <td>{{ form_widget(form.nombres) }} {{ form_errors(form.nombres) }}</td>
                </tr>
                </table>
                
                
                Dirección Particular:
                <table>
                    <tr>
                        <td>{{ form_label(form.departamentos) }} </td>
                        <td>{{ form_label(form.idmunicipio) }}</td>
                        <td>{{ form_label(form.colonia) }}</td>
                        <td>{{ form_label(form.calle) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.departamentos) }} {{ form_errors(form.departamentos) }}</td>
                        <td>{{ form_widget(form.idmunicipio) }} {{ form_errors(form.idmunicipio) }}</td>
                        <td>{{ form_widget(form.colonia) }} {{ form_errors(form.colonia) }}</td>
                        <td>{{ form_widget(form.calle) }} {{ form_errors(form.calle) }}</td>
                    </tr>
                </table>
                
                <table>
                    <tr>
                        <td>{{ form_label(form.estadocivil) }}</td>
                        <td>{{ form_widget(form.estadocivil) }} {{ form_errors(form.estadocivil) }}</td>
                        <td>{{ form_label(form.telefonofijo) }}</td>
                        <td>{{ form_widget(form.telefonofijo) }} {{ form_errors(form.telefonofijo) }}</td>
                        <td>{{ form_label(form.telefonomovil) }}</td>
                        <td>{{ form_widget(form.telefonomovil) }} {{ form_errors(form.telefonomovil) }}</td>
                        <td></td>
                    </tr>
                </table>

                {{ form_row(form.email) }}

                <table><tr><td>{{ form_row(form.lugarnac) }}</td><td>{{ form_row(form.fechanac) }}</td></tr></table>
                                
                {{ form_row(form.sexo) }}

                Documentos de Identidad Personal:

                <table>
                    <tr>
                        <td>{{ form_label(form.dui) }}</td>
                        <td>{{ form_label(form.nit) }}</td>
                        <td>{{ form_label(form.isss) }}</td>
                        <td>{{ form_label(form.nup) }}</td>
                        <td>{{ form_label(form.nip) }}</td>
                    </tr>
                     <tr>
                        <td>{{ form_widget(form.dui) }} {{ form_errors(form.dui) }}</td>
                        <td>{{ form_widget(form.nit) }} {{ form_errors(form.nit) }}</td>
                        <td>{{ form_widget(form.isss) }} {{ form_errors(form.isss) }}</td>
                        <td>{{ form_widget(form.nup) }} {{ form_errors(form.nup) }}</td>
                        <td>{{ form_widget(form.nip) }} {{ form_errors(form.nip) }}</td>
                    </tr>
                </table>
                
                Lugar y fecha de expedición del DUI:
               <table><tr><td>{{ form_row(form.lugardui) }}</td><td>{{ form_row(form.fechadui) }}</td></tr></table>
                
            </fieldset>

            

            <fieldset>
                <legend>Datos de Estudio</legend>

                <ul class="Destudios unstyled" data-prototype="{{ form_widget(form.Destudios.vars.prototype)|e }}">

                   <li> {{form_widget(form.Destudios[0])}}  </li>

                </ul>

                <p>Idiomas que domina:</p>
                <ul class="Idiomas unstyled" data-prototype="{{ form_widget(form.Idiomas.vars.prototype)|e }}">

                 {#  <li> {{form_widget(form.Idiomas[0])}} </li> #}

                    {{form_widget(form.Idiomas[0].nombreidioma)}}
                    {{form_widget(form.Idiomas[0].nivelescribe)}}
                    {{form_widget(form.Idiomas[0].nivelhabla)}}
                    {{form_widget(form.Idiomas[0].nivellee)}}                 

                </ul>

                        {{form_row(form.idplaza)}}
            </fieldset> 

            

            <fieldset>
                <legend>Datos Familiares</legend>

                <ul class="Dfamiliares unstyled" data-prototype="{{ form_widget(form.Dfamiliares.vars.prototype)|e }}">

                   <li> {{form_widget(form.Dfamiliares[0])}} </li> 

                </ul>

                <fieldset>
                    <legend> Pariente dentro de la institución</legend>

                {#}    {{form_row(form.nombreparinst)}}
                    {{form_row(form.parentescoparinst)}}
                    {{form_row(form.dependenciaparinst)}}

                #}

                Nombre del Pariente Parentesco dependencia
                    {{form_widget(form.nombreparinst)}}
                    {{form_widget(form.parentescoparinst)}}
                    {{form_widget(form.dependenciaparinst)}}

                    {{form_errors(form.nombreparinst)}}
                    {{form_errors(form.parentescoparinst)}}
                    {{form_errors(form.dependenciaparinst)}}
                

                </fieldset> 

            </fieldset>

            <fieldset>
                <legend>Datos de Empleo</legend>
                
                <h3>Antecedentes de Empleo</h3>
                
                {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
                {% for Dempleo in form.Dempleos %}
                    
                <table>
                    <tr><td>{{ form_widget(Dempleo.tipodatoempleo) }}</td></tr>
                    <tr>
                        <td> {{ form_label(Dempleo.nombreempresa) }}</td><td>{{ form_widget(Dempleo.nombreempresa) }} {{ form_errors(Dempleo.nombreempresa) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.direccionempresa) }}</td><td>{{ form_widget(Dempleo.direccionempresa) }} {{ form_errors(Dempleo.direccionempresa) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.telefonoempresa) }}</td><td>{{ form_widget(Dempleo.telefonoempresa) }} {{ form_errors(Dempleo.telefonoempresa) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.fechainiciolaboral) }}</td><td>{{ form_widget(Dempleo.fechainiciolaboral) }} {{ form_errors(Dempleo.fechainiciolaboral)}}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.fechafinlaboral) }}</td><td>{{ form_widget(Dempleo.fechafinlaboral) }} {{ form_errors(Dempleo.fechafinlaboral) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.jefeinmediato) }}</td><td>{{ form_widget(Dempleo.jefeinmediato) }} {{ form_errors(Dempleo.jefeinmediato) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.cargodesempenado) }}</td><td>{{ form_widget(Dempleo.cargodesempenado) }} {{ form_errors(Dempleo.cargodesempenado) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.sueldo) }}</td><td>{{ form_widget(Dempleo.sueldo) }} {{ form_errors(Dempleo.sueldo) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.motivoretiro) }}</td><td>{{ form_widget(Dempleo.motivoretiro) }} {{ form_errors(Dempleo.motivoretiro) }}</td>
                    </tr>
                    
                </table>
                <br>

                {% endfor %}

               {#} {{ form_row(form.Dempleos[0]) }}
                {{ form_row(form.Dempleos[1]) }} #}


            </fieldset>

            {{ form_rest(form) }}

            <p>Declaro bajo juramento que los datos registrados en la solicitud son  verdaderos y autorizo al Instituto Salvadoreño de Rehabilitacion Integral para su respectiva verificación.</p>


    <div class="form-actions">
        <p>
            <button type="submit"  class="btn btn-primary">Registrar Solicitud</button>
        </p>
    </div>
    </form>
</fieldset>
        




<script>

    /******************************* Select dependientes *********************************/


    $(document).ready(function(){
        $('#sigesrhi_expedientebundle_solicitudempleotype_departamentos').change(function(){
            $('#sigesrhi_expedientebundle_solicitudempleotype_idmunicipio').children().remove();

            $.getJSON('consultarMunicipiosJSON?departamento='+$('#sigesrhi_expedientebundle_solicitudempleotype_departamentos').val(),
             function(data){
                var i=0;
                $.each(data, function(key, val){
                    if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#sigesrhi_expedientebundle_solicitudempleotype_idmunicipio').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });

                    }

                });

//$('#sigesrhi_expedientebundle_solicitudempleotype_departamentos').children().remove(); //probando
             });


        });//#departamento

    });//document




/*********************************** Datos Familiares ****************************************/
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderFam = $('ul.Dfamiliares');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkFam = $('<input type="button" value="Agregar familiar">');
var $newLinkLiFam = $('<ul></ul>').append($addTagLinkFam);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderFam.append($newLinkLiFam);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderFam.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderFam.data('index', collectionHolderFam.find(':input').length);

    $addTagLinkFam.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderFam, $newLinkLiFam);
    });
});



/************************************* Datos de Estudio **********************************/

// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderEst = $('ul.Destudios');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkEst = $('<input type="button" value="Agregar Estudio">');
var $newLinkLiEst = $('<ul></ul>').append($addTagLinkEst);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderEst.append($newLinkLiEst);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderEst.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderEst.data('index', collectionHolderEst.find(':input').length);

    $addTagLinkEst.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderEst, $newLinkLiEst);
    });
});



/************************************* Idiomas **********************************/

// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderIdio = $('ul.Idiomas');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkIdio = $('<input type="button" value="Agregar Idioma">');
var $newLinkLiIdio = $('<ul></ul>').append($addTagLinkIdio);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderIdio.append($newLinkLiIdio);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderIdio.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderIdio.data('index', collectionHolderIdio.find(':input').length);

    $addTagLinkIdio.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderIdio, $newLinkLiIdio);
    });
});


/********************** Funciones ******************************/
function addTagForm(collectionHolder, $newLinkLi) {
    // Obtiene los datos del prototipo explicado anteriormente
    var prototype = collectionHolder.data('prototype');

    // Consigue el nuevo índice
    var index = collectionHolder.data('index');

    // Sustituye el '__name__' en el prototipo HTML para que
    // en su lugar sea un número basado en cuántos elementos hay
    var newForm = prototype.replace(/__name__/g, index);

    // Incrementa en uno el índice para el siguiente elemento
    collectionHolder.data('index', index + 1);

    // Muestra el formulario en la página en un elemento li,
    // antes del enlace 'Agregar una etiqueta'
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

     // Añade un enlace eliminar el nuevo formulario
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<input type="button" value="Eliminar">');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // quita el li de la etiqueta del formulario
        $tagFormLi.remove();
    });
}


</script>

{% endblock %}