  {% extends '::PrincipalBase.html.twig' %}  


      
{% block principal %}

<a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    

        {{ include('ExpedienteBundle:Ayuda/SolicitudEmpleo:registro.html.twig')}} 

        
    
    <form action="{{ path('solicitud_create') }}" method="post" {{ form_enctype(form) }} id="solicitud_form" >

        
    <h4 class="text-center">REGISTRO DE SOLICITUD DE EMPLEO</h4>

    <table border="0">
        <tr>
            <td width="70%"><p class="justifyText"> <b>Nota Importante:</b> La solicitud de empleo no implica compromiso por parte del ISRI con el interesado, solamente es un requisito indispensable que debe llenar toda persona que aspira a prestar sus servicios a la institución.</p>
            </td>
            <td Width="30%">
                <table border="3" width="150px" height="192px"><tr><td id="vista_previa"> </td></tr></table>
            </td>
        </tr>
       {# {{ form_widget(form) }}#}
       
           
        <table >
            <tr>
                <td>{{ form_label(form.file) }} </td>
                <td>{{ form_widget(form.file) }} {{ form_errors(form.file) }}</td>               
            </tr>
        </table>

        {#<div id="vista_previa"> </div> #}
           
           <br>

            <fieldset>
                <legend>I. Datos Personales</legend>

                <table>
                <tr>
                    <td>{{ form_row(form.apellidocasada) }}</td><td>&nbsp;&nbsp;</td>
                    <td>{{ form_row(form.primerapellido) }}</td><td>&nbsp;&nbsp;</td>
                    <td>{{ form_row(form.segundoapellido) }}</td><td>&nbsp;&nbsp;</td>
                    <td>{{ form_row(form.nombres) }}</td>
                </tr>
                </table>
                
                
              <h5>  Dirección Particular: </h5>
                <table border="0">
                    <tr>
                        <td>{{ form_row(form.departamentos) }} </td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.idmunicipio) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.colonia) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.calle) }}</td>
                    </tr>
                    
                </table>
                
                <table>
                    <tr>
                        <td>{{ form_row(form.estadocivil) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.telefonofijo) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.telefonomovil) }}</td>
                    </tr>
                  
                </table>

                {{ form_row(form.email) }}

                <table>
                    <tr>
                        <td>{{ form_row(form.lugarnac) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.fechanac) }}</td>
                    </tr>
                </table>
                  
              
                    <table>
                        <tr>
                            <td width="50">{{form_label(form.sexo)}}</td><td>{{form_widget(form.sexo)}}</td>
                        </tr>
                    </table>
        

                <h5>Documentos de Identidad Personal:</h5>

                <table>
                    <tr>
                        <td>{{ form_label(form.nit) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_label(form.isss) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_label(form.nup) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_label(form.nip) }}</td>
                    </tr>
                     <tr>
                        <td>{{ form_widget(form.nit) }} {{ form_errors(form.nit) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_widget(form.isss) }} {{ form_errors(form.isss) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_widget(form.nup) }} {{ form_errors(form.nup) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_widget(form.nip) }} {{ form_errors(form.nip) }}</td>
                    </tr>
                </table>
                
                <br>
                
               <table>
                    <tr>
                        <td>{{ form_row(form.dui) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.lugardui) }}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ form_row(form.fechadui) }}</td>
                    </tr>
                </table>
                
            </fieldset>

            <br>

            <fieldset>
                <legend>II. Datos de Estudio</legend>

                {# <ul class="Destudios unstyled" data-prototype="{{ form_widget(form.Destudios.vars.prototype)|e }}"> #}
                
               
                 <table>
                    <tr>
                        <td>{{form_row(form.Destudios[0].idtitulo)}}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{form_row(form.Destudios[0].centroestudio)}}</td>
                    <tr>
                <table>

                <ul class="Destudios unstyled" data-prototype="
                <table>
                    <tr>
                        <td>{{form_widget(form.Destudios.vars.prototype.idtitulo)|e}} {{form_errors(form.Destudios.vars.prototype.idtitulo)|e}}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{form_widget(form.Destudios.vars.prototype.centroestudio)|e}} {{form_errors(form.Destudios.vars.prototype.centroestudio)|e}}</td>
                    <tr>
                <table>
                ">
            

                   {#<li> {{form_widget(form.Destudios[0])}}  </li> #}

                </ul>


                <br>

               <h5>Idiomas que domina:</h5>
                {#<ul class="Idiomas unstyled" data-prototype="{{ form_widget(form.Idiomas.vars.prototype)|e }}"> #}

                 <ul class="Idiomas unstyled" data-prototype="
                 <table>
                    <tr>
                        <td>{{form_row(form.Idiomas.vars.prototype.nombreidioma)|e}}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{form_row(form.Idiomas.vars.prototype.nivelescribe)|e}}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{form_row(form.Idiomas.vars.prototype.nivelhabla)|e}}</td><td>&nbsp;&nbsp;&nbsp;</td>
                        <td>{{form_row(form.Idiomas.vars.prototype.nivellee)|e}}</td>
                    </tr>
                </table>
                 ">

                </ul>
                        <br>

                        {{form_row(form.idplaza)}}

            </fieldset> 

            <br>
            

            <fieldset>
                <legend>III. Datos Familiares</legend>

              <table>
                <tr>
                    <td>{{form_row(form.Dfamiliares[0].parentesco)}}</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form_row(form.Dfamiliares[0].nombrefamiliar)}}</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form_row(form.Dfamiliares[0].telefonofamiliar)}}</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form_row(form.Dfamiliares[0].direccionfamiliar)}}</td>
                </tr>
            </table>
            
               
              <ul class="Dfamiliares unstyled" data-prototype="
            <table>
                <tr>
                    <td>{{form_widget(form.Dfamiliares.vars.prototype.parentesco)|e}} {{form_errors(form.Dfamiliares.vars.prototype.parentesco)|e}}</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form_widget(form.Dfamiliares.vars.prototype.nombrefamiliar)|e}} {{form_errors(form.Dfamiliares.vars.prototype.nombrefamiliar)|e}}</td><td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form_widget(form.Dfamiliares.vars.prototype.telefonofamiliar)|e}} {{form_errors(form.Dfamiliares.vars.prototype.telefonofamiliar)|e}}</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form_widget(form.Dfamiliares.vars.prototype.direccionfamiliar)|e}} {{form_errors(form.Dfamiliares.vars.prototype.direccionfamiliar)|e}}</td>
                </tr>
            </table>
               ">
               
                </fieldset>

                <br>
                <fieldset>
                    <legend>¿Posee algún pariente dentro de la institución?</legend>

                              
                <table>
                    <tr>
                        <td>{{form_row(form.nombreparinst)}}</td>
                        <td>{{form_row(form.parentescoparinst)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{form_row(form.dependenciaparinst)}}</td>
                    </tr>
                </table>

                </fieldset> 


                <br>
          <fieldset>
                <legend>IV. Datos de Empleo</legend>

                
                
                 <ul class="Dempleos unstyled" data-prototype="
            <table >
                <tr>
                    <td width='225px'>{{form_label(form.Dempleos.vars.prototype.tipodatoempleo)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.tipodatoempleo)|e}} {{form_errors(form.Dempleos.vars.prototype.tipodatoempleo)|e}}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.nombreempresa)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.nombreempresa)|e }} {{form_errors(form.Dempleos.vars.prototype.nombreempresa)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.direccionempresa)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.direccionempresa)|e }} {{form_errors(form.Dempleos.vars.prototype.direccionempresa)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.telefonoempresa)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.telefonoempresa)|e }} {{form_errors(form.Dempleos.vars.prototype.telefonoempresa)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.fechainiciolaboral)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.fechainiciolaboral)|e }} {{form_errors(form.Dempleos.vars.prototype.fechainiciolaboral)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.fechafinlaboral)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.fechafinlaboral)|e }} {{form_errors(form.Dempleos.vars.prototype.fechafinlaboral)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.jefeinmediato)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.jefeinmediato)|e }} {{form_errors(form.Dempleos.vars.prototype.jefeinmediato)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.cargodesempenado)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.cargodesempenado)|e }} {{form_errors(form.Dempleos.vars.prototype.cargodesempenado)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.sueldo)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.sueldo)|e }} {{form_errors(form.Dempleos.vars.prototype.sueldo)|e }}</td>
                </tr>
                <tr>                
                    <td>{{form_label(form.Dempleos.vars.prototype.motivoretiro)|e}}</td>
                    <td>{{form_widget(form.Dempleos.vars.prototype.motivoretiro)|e }} {{form_errors(form.Dempleos.vars.prototype.motivoretiro)|e }}</td>
                </tr>

            </table>
               ">
                
                {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
{#            {% for Dempleo in form.Dempleos %} 
                    
                <table>
                    <tr><td>{{ form_widget(Dempleo.tipodatoempleo) }}</td></tr>
                    <tr>
                        <td> {{ form_label(Dempleo.nombreempresa) }}</td><td>{{ form_widget(Dempleo.nombreempresa) }} {{ form_errors(Dempleo.nombreempresa) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.direccionempresa) }}</td><td>{{ form_widget(Dempleo.direccionempresa) }} {{ form_errors(Dempleo.direccionempresa) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.telefonoempresa) }}</td><td>{{ form_widget(Dempleo.telefonoempresa) }} {{ form_errors(Dempleo.telefonoempresa) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.fechainiciolaboral) }}</td><td>{{ form_widget(Dempleo.fechainiciolaboral) }} {{ form_errors(Dempleo.fechainiciolaboral)}}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.fechafinlaboral) }}</td><td>{{ form_widget(Dempleo.fechafinlaboral) }} {{ form_errors(Dempleo.fechafinlaboral) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.jefeinmediato) }}</td><td>{{ form_widget(Dempleo.jefeinmediato) }} {{ form_errors(Dempleo.jefeinmediato) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.cargodesempenado) }}</td><td>{{ form_widget(Dempleo.cargodesempenado) }} {{ form_errors(Dempleo.cargodesempenado) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.sueldo) }}</td><td>{{ form_widget(Dempleo.sueldo) }} {{ form_errors(Dempleo.sueldo) }}</td>
                    </tr>
                    <tr>
                        <td> {{ form_label(Dempleo.motivoretiro) }}</td><td>{{ form_widget(Dempleo.motivoretiro) }} {{ form_errors(Dempleo.motivoretiro) }}</td>
                    </tr>
                    
                </table>
                <br>

                {% endfor %}
            #}
               {# {{ form_row(form.Dempleos[0]) }}
                {{ form_row(form.Dempleos[1]) }} #}

            </ul>
           </fieldset> 


            <hr>
            {{form_widget(form.aceptar)}}
        
        <br>                      

            {{ form_rest(form) }}
    <div class="centered">
        
            <button type="submit"  class="btn btn-primary">Registrar Solicitud</button>
            <input type="button" value="Cancelar" id="" class="btn">
        
    </div>
    
    </form>

        




<script>

////////////////////////// Vista Previa de la imagen subida///////////////////////////////
    if (window.FileReader) {
      function seleccionArchivo(evt) {
        var files = evt.target.files;
        var f = files[0];
        var leerArchivo = new FileReader();
         
            leerArchivo.onload = (function(elArchivo) {
            return function(e) {
              document.getElementById('vista_previa').innerHTML = '<img src="'+ e.target.result +'" alt="Fotografía" width="150px" height="150px" class="fotoSol" />';
            };
          })(f);
   
          leerArchivo.readAsDataURL(f);
      }
     } else {
      document.getElementById('vista_previa').innerHTML = "El navegador no soporta vista previa";
    }
   
      document.getElementById('sigesrhi_expedientebundle_solicitudempleotype_file').addEventListener('change', seleccionArchivo, false);
     


    /******************************* Select dependientes *********************************/


    $(document).ready(function(){
      //  $('#sigesrhi_expedientebundle_solicitudempleotype_idmunicipio').children().remove();
        $('#sigesrhi_expedientebundle_solicitudempleotype_departamentos').change(function(){
            $('#sigesrhi_expedientebundle_solicitudempleotype_idmunicipio').children().remove();

            $.getJSON('consultarMunicipiosJSON?departamento='+$('#sigesrhi_expedientebundle_solicitudempleotype_departamentos').val(),
             function(data){
                var i=0;
                $.each(data, function(key, val){
                    if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#sigesrhi_expedientebundle_solicitudempleotype_idmunicipio').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });

                    }

                });

//$('#sigesrhi_expedientebundle_solicitudempleotype_departamentos').children().remove(); //probando
             });


        });//#departamento

    });//document




/*********************************** Datos de Empleo ****************************************/
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderEmp = $('ul.Dempleos');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkEmp = $('<input type="button" value="Agregar Empleo">');
var $newLinkLiEmp = $('<ul></ul>').append($addTagLinkEmp);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderEmp.append($newLinkLiEmp);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderEmp.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderEmp.data('index', collectionHolderEmp.find(':input').length);

    $addTagLinkEmp.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderEmp, $newLinkLiEmp);


    });
 });



/*********************************** Datos Familiares ****************************************/
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderFam = $('ul.Dfamiliares');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkFam = $('<input type="button" value="Agregar familiar">');
var $newLinkLiFam = $('<ul></ul>').append($addTagLinkFam);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderFam.append($newLinkLiFam);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderFam.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderFam.data('index', collectionHolderFam.find(':input').length);

    $addTagLinkFam.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderFam, $newLinkLiFam);
    });
});



/************************************* Datos de Estudio **********************************/

// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderEst = $('ul.Destudios');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkEst = $('<input type="button" value="Agregar Estudio">');
var $newLinkLiEst = $('<ul></ul>').append($addTagLinkEst);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderEst.append($newLinkLiEst);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderEst.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderEst.data('index', collectionHolderEst.find(':input').length);

    $addTagLinkEst.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderEst, $newLinkLiEst);
    });
});



/************************************* Idiomas **********************************/

// Obtiene la ul que contiene la colección de etiquetas
var collectionHolderIdio = $('ul.Idiomas');

// configura una enlace "Agregar una etiqueta"
var $addTagLinkIdio = $('<input type="button" value="Agregar Idioma">');
var $newLinkLiIdio = $('<ul></ul>').append($addTagLinkIdio);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolderIdio.append($newLinkLiIdio);

    // Añade un enlace para eliminar todas las etiquetas existentes
    // en elementos li del formulario
    collectionHolderIdio.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolderIdio.data('index', collectionHolderIdio.find(':input').length);

    $addTagLinkIdio.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolderIdio, $newLinkLiIdio);
    });
});


</script>

{% endblock %}