{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('show') %}
    <div class="alert alert-success">
        <p> {{ flashMessage }} </p>
    </div>
{% endfor %}

    <h4 class="text-center">DATOS REGISTRADOS DE SOLICITUD DE EMPLEO</h4>
    <br>

<table width="100%">
    <tr>
        <td width="65%">

    <table border="2" class="table table-bordered table-hover" width="90%">
                
            <tr>
                <th>Número de solicitud: </th>
                <td><b>
                    {% if entity.numsolicitud != 0 %}
                    {{ entity.numsolicitud }}
                    {% else %}
                    No asignado
                    {% endif %}
                </b></td>
                
            </tr>
            <tr>
                <th>Fecha de registro:</th>
                <td>{{ (entity.fecharegistro|date('d-m-Y'))|fecha }}</td>
            </tr>
            <tr>
                  <th>Fecha de modificaci&oacute;n: </th>
                <td>{{ (entity.fechamodificacion|date('d-m-Y'))|fecha }}</td>
            </tr>
            
    </table>

        </td>
        <td width="35%" align="center">
            <table border="3" align="center" width="150px" height="192px">
                <tr>
                    <td>
                        <img src="{{asset('uploads/fotografias/' ~ entity.fotografia)}}"  class="fotoSol"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <b>Datos Generales: </b>
    <table border="2" class="table table-bordered table-hover mitable">
            <tr>
                <th>Apellido de casada</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Nombres</th>
                
            </tr>
            <tr>
                <td>{{ entity.apellidocasada }}</td>
                <td>{{ entity.primerapellido }}</td>
                <td>{{ entity.segundoapellido }}</td>
                <td>{{ entity.nombres }}</td>
            </tr>
        </table>

        <table border="2" class="table table-bordered table-hover mitable">    
            <tr>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Colonia</th>
                <th>Calle/pasaje/avenida</th>
                
                
            </tr>
            <tr>
                <td>{{ entity.idmunicipio.getIddepartamento() }}</td>
                <td>{{ entity.idmunicipio }}</td>
                <td>{{ entity.colonia }}</td>
                <td>{{ entity.calle }}</td>
            </tr>
        </table>

        <table border="2" class="table table-bordered table-hover mitable">
            <tr>
                <th>Estado civil:</th>
                <th>Telefono fijo:</th>
                <th>Telefono m&oacute;vil:</th>
                
            </tr>
            <tr>
                <td>
                    {% if entity.estadocivil == 'S' %} Soltero {% endif %}
                    {% if entity.estadocivil == 'A' %} Acompañado {% endif %}
                    {% if entity.estadocivil == 'C' %} Casado {% endif %}
                    {% if entity.estadocivil == 'D' %} Divorciado {% endif %}
                    {% if entity.estadocivil == 'V' %} Viudo {% endif %}
                </td>
                <td>{{ entity.telefonofijo }}</td>
                <td>{{ entity.telefonomovil }}</td>
            </tr>
        </table>

        <table border="2" class="table table-bordered table-hover mitable">
            <tr>
                <th colspan="3">Correo electr&oacute;nico: </th>
            </tr>
            <tr>
                <td>{{ entity.email }}</td>
            </tr>
        </table>
          
        <table border="2" class="table table-bordered table-hover mitable">
            <tr>
                    <th>Lugar de nacimiento: </th>
                    <th>fecha de nacimiento:</th>
                    <th>Sexo: </th>
            </tr>
            <tr>
                    <td>{{ entity.lugarnac }}</td>
                    <td>{{ (entity.fechanac|date('d-m-Y'))|fecha }}</td>
                    <td> 
                        {% if entity.sexo == 'M' %} Masculino {% endif %}
                        {% if entity.sexo == 'F' %} Femenino {% endif %}
                    </td>
            </tr>
       </table>

      <b> Documentos de identidad personal:</b>
       <table border="2" class="table table-bordered table-hover mitable">
            <tr>
                <th>NIT: </th>
                <th>ISSS: </th>
                <th>NUP: </th>
                <th>NIP: </th>
            </tr>
            <tr>
                <td>{{ entity.nit|slice(0,4) ~ '-' ~ entity.nit|slice(4,6) ~ '-' ~ entity.nit|slice(10,3) ~ '-' ~ entity.nit|slice(13,1) }}</td> {# 0712-300488-101-0 #}
                <td>{{ entity.isss }}</td>
                <td>{{ entity.nup }}</td>
                <td>{{ entity.nip }}</td>
            </tr>
       </table>

        <table border="2" class="table table-bordered table-hover mitable">
            <tr>
                <th>DUI: </th>
                <th>Lugar de expedición: </th>
                <th>Fecha de expedición: </th>
                
            </tr>
            <tr>
                <td>{{ entity.dui|slice(0,8) ~ '-' ~ entity.dui|slice(8,1) }}</td> {# 03930981-3#}
                <td>{{ entity.lugardui }}</td>
                <td>{{ (entity.fechadui|date('d-m-Y'))|fecha }}</td>
            </tr>
        </table>


        {# DATOS DE ESTUDIO #}

        <b>Datos de Estudio: </b>
            <br>
        
        {% if entity.Destudios|length > 0 %}

            <table class="table table-bordered table-hover mitable">
                    <tr>
                        <th>Titulo Obtenido: </th>
                        <th>Centro de Estudio: </th>
                    </tr>
                    

            {% for Destudio in entity.Destudios %}
                    <tr>
                        <td>{{Destudio.idtitulo}}</td>
                        <td>{{Destudio.centroestudio}}</td>
                    </tr>      
            {% endfor %}
             
                </table>

        {% else %}

        No hay datos que mostrar.
        <br>
        {% endif %}

        {# IDIOMAS #}

        <b>Idiomas que domina: </b>
        <br>

        {% if entity.Idiomas|length > 0 %}
        
            <table class="table table-bordered table-hover mitable">
                    <tr>
                        <th>Idioma</th>
                        <th>Nivel escribe</th>
                        <th>Nivel habla</th>
                        <th>Nivel lee</th>
                    </tr>

            {% for Idioma in entity.Idiomas %}
                    <tr>
                        <td>{{Idioma.nombreidioma}}</td>
                        <td>{{Idioma.nivelescribe}}</td>
                        <td>{{Idioma.nivelhabla}}</td>
                        <td>{{Idioma.nivellee}}</td>
                    </tr>
            {% endfor %}

            </table>

            {% else %}

            No hay datos que mostrar.
            <br>

            {% endif %}

            <br>

            <table class="table table-bordered table-hover mitable">
                <tr>
                    <th>Plaza solicitada:</th>
                </tr>
                <tr>
                    <td>{{entity.idplaza}}</td>
                </tr>
            </table>

    <b>Datos familiares: </b>

    {% if entity.Dfamiliares|length > 0 %}

          <table class="table table-bordered table-hover mitable">
                    <tr>
                        <th>Parentesco: </th>
                        <th>Nombre: </th>
                        <th>Tel&eacute;fono: </th>
                        <th>Direcci&oacute;n: </th>
                    </tr>

            {% for Dfamiliar in entity.Dfamiliares %}

            <tr>
                <td>{{Dfamiliar.parentesco}}</td>
                <td>{{Dfamiliar.nombrefamiliar}}</td>
                <td>{{Dfamiliar.telefonofamiliar}}</td>
                <td>{{Dfamiliar.direccionfamiliar}}</td>
            </tr>

            {% endfor %}

        </table>

    {% else %}
        No hay datos que mostrar.
        <br>
    {% endif %}


    <b>Datos de Pariente dentro de la instituci&oacute;n: </b>

    <table class="table table-bordered table-hover mitable">
        <tr>
            <th>Nombre pariente: </th>
            <th>Parentesco: </th>
            <th>Dependencia donde labora: </th>
        </tr>
        <tr>
            <td>&nbsp;{{entity.nombreparinst}}</td>
            <td>&nbsp;{{entity.parentescoparinst}}</td>
            <td>&nbsp;
                {% if entity.dependenciaparinst is not null %}
                        {{entity.dependenciaparinst.getNombrecentro()}}
                {% endif %}

            </td>
        </tr>
    </table>


    <b>Datos Antecedentes de Empleo: </b>
    <br>

    {% if entity.Dempleos|length > 0 %}


        {% for Dempleo in entity.Dempleos %}

            <table class="table table-bordered table-hover mitable">
                <tr>
                    <th width="200px">Tipo de Empleo: </th>
                    <td>{{Dempleo.tipodatoempleo}}</td>
                </tr>
                <tr>
                    <th>Nombre de la empresa: </th>
                    <td>{{Dempleo.nombreempresa}}</td>
                </tr>
                <tr>
                    <th>Direcci&oacute;n de la empresa: </th>
                    <td>{{Dempleo.direccionempresa}}</td>
                </tr>
                <tr>
                    <th>Tel&eacute;fono: </th>
                    <td>{{Dempleo.telefonoempresa}}</td>
                </tr>
                <tr>
                    <th>Fecha de inicio laboral:</th>
                    <td>{{(Dempleo.fechainiciolaboral|date('d-m-Y'))|fecha}}</td>
                </tr>
                <tr>
                    <th>Fecha de fin laboral</th>
                    <td> {% if Dempleo.fechafinlaboral is not null %} {{(Dempleo.fechafinlaboral|date('d-m-Y'))|fecha}} {% else %} - - - - - {% endif %}</td>
                </tr>
                <tr>
                    <th>Jefe inmediato: </th>
                    <td>{{Dempleo.jefeinmediato}}</td>
                </tr>
                <tr>
                    <th>Cargo desempe&ntilde;ado: </th>
                    <td>{{Dempleo.cargodesempenado}}</td>
                </tr>
                <tr>
                    <th>Sueldo: </th>
                    <td>{{Dempleo.sueldo}}</td>
                </tr>
                <tr>
                    <th>Motivo de su retiro: </th>
                    <td>{{Dempleo.motivoretiro}}</td>
                </tr>
            </table>

        {% endfor %}

    {% else %}
    No hay datos que mostrar.
    <br>

    {% endif %}


 
<h4 class="text-center">¿Qué acción desea realizar?</h4><br />
{% set ruta = app.request.attributes.get('_route') %}

    {% if nogrid == 0 %}

        <div class="text-center">
        <a href="{{ path('reporte_solicitudempleo', { 'idsol':entity.id, 'ruta':ruta }) }}" class="btn btn-primary">Generar PDF</a>
        <button type="button" class="btn" onclick="window.history.back(1);">Regresar</button>
        {#{% if entity.numsolicitud == 0 %}
        <a href="{{ path('solicitud_pruebanumsol', { 'id': entity.id }) }}" class="btn">Asignar Numero de Solicitud</a>
        {% endif %}#}
        </div>

    {% else %}
        <div class="text-center">
        <a href="{{ path('reporte_solicitudempleo', { 'idsol':entity.id, 'ruta':ruta }) }}" class="btn btn-primary">Generar PDF</a>
        <button type="button" class="btn" onclick="location.href='{% if entity.idexpediente.tipoexpediente == 'I' or entity.idexpediente.tipoexpediente == 'A' %} {{ path ('solicitud_caspirante') }} {% elseif entity.idexpediente.tipoexpediente == 'E' or entity.idexpediente.tipoexpediente == 'T' %}{{ path ('solicitud_cempleado') }} {% elseif entity.idexpediente.tipoexpediente == 'X' %} {{ path('solicitud_cinactivo')}} {% endif %}'">Regresar al listado</button>
        {% if vista_retorno == 1 or vista_retorno == 2 or vista_retorno == 4 or vista_retorno == 5 %}
        <a href="{{ path('solicitud_edit', { 'id': entity.id, 'vista_retorno':vista_retorno }) }}" class="btn">Editar Registro</a>
        {% endif %}
        {#{% if entity.numsolicitud == 0 %}
        <a href="{{ path('solicitud_pruebanumsol', { 'id': entity.id }) }}" class="btn">Asignar Numero de Solicitud</a>
        {% endif %}#}
        </div>
     {% endif %}

{% endblock %}
