{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('delete') %}
  <div class="alert alert-danger">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

{% set ruta = app.request.attributes.get('_route') %}

<script>
        jQuery(function() {

            jQuery("#grid_grid_capacitador__nombrecapacitador__query__from").autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "facilitadores"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });

        });
</script>

{% for flashMessage in app.session.flashbag.get('delete') %}
     <div class="alert alert-danger">
       <p>{{ flashMessage }}</p>
     </div>
{% endfor %}
 
    {% if ruta == 'capacitador' %}
    <h3 class="text-center"> Consulta de facilitadores </h3>
    <p class="text-center">Seleccione el facilitador para ver más detalles.</p>

    {% elseif ruta == 'capacitador_modificar'  %}
    <h3 class="text-center"> Modificación de facilitadores </h3>
    <p class="text-center">Seleccione el facilitador que desea modificar.</p>

    {% elseif ruta == 'capacitador_eliminar' %}
    <h3 class="text-center"> Eliminación de facilitadores </h3>
    <p class="text-center">Seleccione el facilitador que desea eliminar.</p>
    {% endif %}

     {{ grid_search(grid) }}
     {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }} 
     {% block grid_filters %}{% endblock %}
     
     <br />
     <div class="text-center">
     <a href="{{path('pantalla_facilitadores')}}" class="btn"> Cancelar </a>
     </div>

    
{% endblock %}