{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('aviso') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('edit') %}
  <div class="alert alert-success">
    <p>{{ flashMessage }}</p>
  </div>
{% endfor %}

<script type='text/javascript'>
function eliminar() {

    if(confirm('\xbfEst\xE1 seguro que desea eliminar este registro?')) {
        document.getElementById('form_borrar').submit();
}
}
</script>
<style>
.tabla{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
</style>

    <h3 class="text-center">Datos registrados</h3>

    <table class="table table-bordered table-hover tabla">
        <tbody>
            <tr>
                <th>Nombre facilitador</th>
                <td>{{ entity.nombrecapacitador }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.telefonocapacitador|telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.correocapacitador }}</td>
            </tr>
            <tr>
                <th>Temática que expone</th>
                <td>{{ entity.tematicacapacitador }}</td>
            </tr>
            <tr>
                <th>Institución a la que pertenece</th>
                <td>{{ entity.idinstitucion }}</td>
            </tr>
        </tbody>
    </table>
    <br/><br/>

    <div class="text-center">
    {% if pag == 1 %}
     <a href="{{ path('capacitador') }}" class="btn"> Cancelar </a>
    {% else %}
     <a href="{{ path('pantalla_facilitadores') }}" class="btn btn-primary"> Finalizar </a>
    {% endif %}
    <a href="{{ path('capacitador_edit', { 'id': entity.id,'pag':pag }) }}" class="btn"> Editar </a>
    <button type="button"  class="btn btn-danger" onclick="eliminar();">Borrar</button>
        <form action="{{ path('capacitador_delete', { 'id': entity.id,'pag':pag }) }}" method="post" id="form_borrar">
            <input type="hidden" name="_method" value="DELETE" />
            <div class="invisible">{{ form_widget(delete_form) }}</div>
        </form>
    </div>
{% endblock %}
