{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}


    <h1>Beneficiarios</h1>
    
    {#{{ grid_search(grid) }}

    {{ grid(grid,_self) }}#}
    
    {{ grid_search(grid, 'APYDataGridBundle::blocks.html.twig') }}

    {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }}


    {% block grid_filters %}{% endblock %}
    
    {#<table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrebeneficiario</th>
                <th>Parentescobeneficiario</th>
                <th>Porcentaje</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('beneficiario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombrebeneficiario }}</td>
                <td>{{ entity.parentescobeneficiario }}</td>
                <td>{{ entity.porcentaje }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('beneficiario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('beneficiario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('beneficiario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}

     <script type="text/javascript">
    function doFilter (id) {

        var data = {};

        var name = $('#'+id).attr('name');

        data[name] = $('#'+id).val();

        $.ajax({
              type: "POST",
              url: "{{ path('beneficiario_new') }}",
              data: data,  
            }).done(function( msg ) {
              $('#grid').html(msg);
            });
    }
    </script>
    <script type="text/javascript">
     function doPage (url) {

    $.ajax({
          url: url,
        }).done(function( msg ) {
          $('#grid').html(msg);
        });
    }
    </script>
    {% endblock %}
